codepkg/flows/ALS_Generate_Transmittal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ALS_TransmittalUtiity</name>
        <label>ALS_TransmittalUtiity</label>
        <locationX>516</locationX>
        <locationY>120</locationY>
        <actionName>ALS_TransmittalUtiity</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Suceess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>paymantToProcessIds</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>Call createTransmittalRecord method of TransmittalUtiity to generate Transmittal</description>
    <formulas>
        <description>To show customized Error on Screen</description>
        <name>Formulaforcustomerror</name>
        <dataType>String</dataType>
        <expression>IF(contains({!$Flow.FaultMessage},&apos;Script-thrown exception&apos;), &apos;Transmittal is already exist&apos;, {!$Flow.FaultMessage})</expression>
    </formulas>
    <interviewLabel>ALS_Transmittal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALS_Generate_Transmittal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Error</name>
        <label>Error</label>
        <locationX>546</locationX>
        <locationY>327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!Formulaforcustomerror}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Suceess</name>
        <label>Suceess</label>
        <locationX>900</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p&gt;Transmittal created successfully..&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ALS_TransmittalUtiity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Payment Request ID</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Request__c</objectType>
    </variables>
</Flow>
