codepkg/flows/HH_Contact_ReadOnly.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>176</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>182</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>first_name</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_First_Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>first_name_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.FirstName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>email</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_Email_Address}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>email_address</name>
                    <fieldText>&lt;p&gt;{!Contacts.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>last_name</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_Last_Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>last_name_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>phone</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_PrimaryPhone}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>phone_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.Phone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>secondary_phone</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_SecondaryPhone}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>secondary_phone_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.HomePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>address</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_Address_Information}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>mailing_street_address</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_Mailing_Street}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>street</name>
                    <fieldText>&lt;p&gt;{!Contacts.MailingStreet}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>physical_street_address</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_Physical_Street}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>street_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.Physical_Street__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>maling_city</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Label.HH_EN_MailingAddressCity}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>city_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.MailingCity}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>mailing_country</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_MailingAddressCountry}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>mailing_country_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.MailingCountry}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>state</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Label.HH_EN_MailingAddressState}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>state_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.MailingState}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Zip_Poastal</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_MailingAddressMailingZip_PostalCode}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>zip_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.MailingPostalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Physical_city</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_PhysicalAddressCity}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>physical_City_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.Physical_City__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>physical_country</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_PhysicalAddressCountry}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>physical_address_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.Physical_Country__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>physical_state</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_PhysicalAddressState}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>physical_state_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.Physical_State__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>physical_zip</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.HH_EN_PhysicalAddressZip_PostalCode}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>physical_zip_value</name>
                    <fieldText>&lt;p&gt;{!Contacts.Physical_Zip_Postal_Code__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the current record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
