codepkg/flows/HMA_Create_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assigned value Is Project Created as true</description>
        <name>Assign_Is_Project_Created_value</name>
        <label>Assign Is Project Created value</label>
        <locationX>1032</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Application_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pre_Application_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_Application_to_Application_value_Assignment</name>
        <label>Pre-Application to Application value Assignment</label>
        <locationX>750</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Application_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.FIPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FIPS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.DUNS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DUNS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.EIN_For_Private_Non_Profits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EIN_For_Private_Non_Profits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Subapplicant_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subapplicant_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Project_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Hazard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Hazard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Project_Plan_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Activity_TitleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Brief_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Brief_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HMGP_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Activity_Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Activity_Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Activity_Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Activity_Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Pre_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Disaster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Disaster__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Is_this_project_phased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Is_this_project_phased__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Sub_Applicant_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Is_BCR_verified_at_1_0_or_greater__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationRecord.Sub_Application_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Application_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>HMGP_RecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012r0000000OW3lAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Pre_Application_Record_Type</name>
        <label>Check Pre-Application Record Type</label>
        <locationX>183</locationX>
        <locationY>544</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_HMGP_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pre_Application_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HMGP_Record_Type</targetReference>
            </connector>
            <label>Is HMGP RT</label>
        </rules>
    </decisions>
    <description>If Pre-Application Status is Approved and Is Application created is false</description>
    <interviewLabel>HMA Create Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HMA Create Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Record</name>
        <label>Create Application Record</label>
        <locationX>1033</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Assign_Is_Project_Created_value</targetReference>
        </connector>
        <inputReference>ApplicationRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Share record with Pre-Application creator</description>
        <name>Share_Record_with_Community_User</name>
        <label>Share Record with Community User</label>
        <locationX>783</locationX>
        <locationY>542</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ApplicationRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>Application__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>HMGP_Record_Type</name>
        <label>HMGP Record Type</label>
        <locationX>494</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_Application_to_Application_value_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HMGP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pre_Application_Record_Type</name>
        <label>Pre-Application Record Type</label>
        <locationX>191</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pre_Application_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HMGP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre_Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pre_Application_record</name>
        <label>Update Pre-Application record</label>
        <locationX>784</locationX>
        <locationY>339</locationY>
        <connector>
            <targetReference>Share_Record_with_Community_User</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Pre_Application_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Application_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pre_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
    <variables>
        <name>ApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ContactRoleRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Role__c</objectType>
    </variables>
</Flow>
