codepkg/flows/MARS_Non_Suppression_Survey_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_List</name>
        <label>Add Line Item to List</label>
        <locationX>1079</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>AgencyNonSuppItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Effective_Date_1</name>
        <label>Update Effective Date - 1</label>
        <locationX>410</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>EffectiveDate_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Non_Suppression_Survey.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EffectiveDate_1</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Non_Suppression_Survey_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Old_Record_to_Revised</name>
        <label>Update Old Record to Revised</label>
        <locationX>758</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>Get_Old_Non_Suppression_Survey_Records.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revised</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Old_Non_Suppression_Survey_Records.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EffectiveDate_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Active</name>
        <label>Update Status to Active</label>
        <locationX>1190</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Current_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Revised_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Revised_Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>410</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>Get_Non_Suppression_Survey.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Non_Suppression_Survey.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Effective_Date_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Reject</name>
        <label>Update Status To Reject</label>
        <locationX>423</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Get_Non_Suppression_Survey.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Non_Suppression_Survey.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Non_Suppression_Survey_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Reviewed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviewed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>167</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reject</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Old_Record_Available</name>
        <label>Is Old Record Available?</label>
        <locationX>550</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Update_Non_Suppression_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Old_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Non_Suppression_Survey_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Non_Suppression_Survey_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Record_to_Revised</targetReference>
            </connector>
            <label>If Old Record Found</label>
        </rules>
    </decisions>
    <interviewLabel>MARS - Non Suppression Survey Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Non Suppression Survey Review</label>
    <loops>
        <name>Iterate_Over_Line_Items</name>
        <label>Iterate Over Line Items</label>
        <locationX>964</locationX>
        <locationY>378</locationY>
        <collectionReference>Get_Non_Suppression_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Non_Supp_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Approved</name>
        <label>Get Email Template Id For Approved</label>
        <locationX>1392</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Approval_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Attachment A. Non-Suppression Personnel Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Rejected</name>
        <label>Get Email Template Id For Rejected</label>
        <locationX>769</locationX>
        <locationY>739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejection_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Attachment A. Non-Suppression Personnel Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Suppression_Line_Item</name>
        <label>Get Non Suppression Line Item</label>
        <locationX>811</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Non_Suppression_Personnel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Non_Suppression_Survey.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agency_Non_Suppression_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Current_Rate__c</queriedFields>
        <queriedFields>Revised_Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Suppression_Survey</name>
        <label>Get Non Suppression Survey</label>
        <locationX>175</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Non_Suppression_Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Non_Suppression_Survey_Records</name>
        <label>Get Old Non Suppression Survey Records</label>
        <locationX>410</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Old_Record_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Non_Suppression_Survey.Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Non_Suppression_Survey.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Non_Suppression_Personnel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Non_Supp_Line_Items</name>
        <label>Update Non Supp Line Items</label>
        <locationX>1249</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Approved</targetReference>
        </connector>
        <inputReference>AgencyNonSuppItemsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Suppression_Survey</name>
        <label>Update Non Suppression Survey</label>
        <locationX>646</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Get_Non_Suppression_Line_Item</targetReference>
        </connector>
        <inputReference>Get_Non_Suppression_Survey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Non_Suppression_Survey_Record</name>
        <label>Update Non Suppression Survey</label>
        <locationX>601</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Rejected</targetReference>
        </connector>
        <inputReference>Get_Non_Suppression_Survey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Records</name>
        <label>Update Old Records</label>
        <locationX>877</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>Update_Non_Suppression_Survey</targetReference>
        </connector>
        <inputReference>Get_Old_Non_Suppression_Survey_Records</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Non-Suppression Personnel has been Reviewed</description>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1672</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Record is successfully reviewed. Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Non-Suppression Personnel has been Reviewed</description>
        <name>Final_Screen_0</name>
        <label>Final Screen</label>
        <locationX>1077</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Record is rejected. Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MARS_Non_Suppression_Rates_Approval</name>
        <label>MARS - Non Suppression Rates Approval</label>
        <locationX>176</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Non_Suppression_Survey</targetReference>
        </connector>
        <fields>
            <name>Display_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Select Reviewed to Review the Record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approve_Reject_Radio</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval_Comments</name>
            <dataType>String</dataType>
            <fieldText>Reviewed Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Approve</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MARS_Non_Suppression_Rates_Approval</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Approval_Email</name>
        <label>Send Approval Email</label>
        <locationX>1523</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Approved.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Non_Suppression_Survey.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Non_Suppression_Survey.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>922</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>Final_Screen_0</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Rejected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Non_Suppression_Survey.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Non_Suppression_Survey.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AgencyNonSuppItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Non_Suppression_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>EffectiveDate_1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
