codepkg/flows/MARS_Regenerate_Invoice.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Regenerate_Invoice_Action</name>
        <label>Regenerate Invoice Action</label>
        <locationX>877</locationX>
        <locationY>218</locationY>
        <apexClass>MARS_FlowGenerateInvoiceCtrl</apexClass>
        <connector>
            <targetReference>Regenerate_Invoice_Successfully</targetReference>
        </connector>
        <inputParameters>
            <name>InvoiceId</name>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InvoiceType</name>
            <value>
                <elementReference>RegenerateInvoicechoice</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewInvoiceId</assignToReference>
            <name>NewInvoiceId</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>AmendmentInvoiceChoice</name>
        <choiceText>Amendment Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amendment Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>RegenerateInvoicechoice</name>
        <choiceText>Regenerate Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regenerate Invoice</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Select_Invoice_Type</name>
        <label>Select Invoice Type</label>
        <locationX>402</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regenerate_Invoice1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Agency Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Generated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Invoice_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paying Entity Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regenerate_Invoice_Is_Selected</targetReference>
            </connector>
            <label>Regenerate Invoice</label>
        </rules>
    </decisions>
    <interviewLabel>Ma {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Regenerate Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>173</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Invoice_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Regenerate_Invoice_Is_Selected</name>
        <label>Regenerate Invoice Is Selected</label>
        <locationX>656</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Regenerate_Invoice_Action</targetReference>
        </connector>
        <fields>
            <name>RegenerateInvoiceIsSelected</name>
            <fieldText>&lt;p&gt;Regenerate Invoice&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Regenerate_Invoice_Successfully</name>
        <label>Regenerate Invoice Successfully</label>
        <locationX>1130</locationX>
        <locationY>223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RegenerateInvoiceMessage</name>
            <fieldText>&lt;p&gt; Invoice  Regenerated successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Invoice_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
