codepkg/flows/MARS_Send_Email_Autolaunched_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>438</locationX>
        <locationY>210</locationY>
        <apexClass>FlowSendEmail</apexClass>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>emailTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideAddressId</name>
            <value>
                <elementReference>Get_Org_Wide_Email_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>targetObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>MARS - Send Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Send Email Autolaunched Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>178</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>noreply@caloes.ca.gov</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Org_Wide_Email_Address</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
