codepkg/flows/MARS_Admin_Rates_Approval_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>856</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Get_Administrative_Rate_Record.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Administrative_Rate_Record.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Agency_Administrative_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_When_Rejected</name>
        <label>Update When Rejected</label>
        <locationX>607</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>Get_Administrative_Rate_Record.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Administrative_Rate_Record.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Admin_Rate_When_Rejected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApproveChoice</name>
        <choiceText>Reviewed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviewed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>732</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApproveChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_When_Rejected</targetReference>
            </connector>
            <label>If Reject Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Existing_to_Revised_Or_Expired</name>
        <label>Update Existing to Revised Or Expired</label>
        <locationX>935</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_To_Revised</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_End_Date_is_in_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndDateForExisting</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_to_Expired</targetReference>
            </connector>
            <label>If End Date is in Past</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDateForExisting</name>
        <dataType>Date</dataType>
        <expression>Date(YEAR({!Get_Administrative_Rate_Record.Start_Date__c}),MONTH({!Get_Administrative_Rate_Record.Start_Date__c}),DAY({!Get_Administrative_Rate_Record.Start_Date__c}))-1</expression>
    </formulas>
    <interviewLabel>MARS - Admin Rates Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Admin Rates Review Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Administrative_Rate_Record</name>
        <label>Get Administrative Rate Record</label>
        <locationX>353</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MARS_Administrative_Rated_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Admin_Rates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Approved</name>
        <label>Get Email Template Id For Approved</label>
        <locationX>1133</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Approval_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Administrative Rate Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Rejected</name>
        <label>Get Email Template Id For Rejected</label>
        <locationX>430</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejection_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Administrative Rate Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Admin_Rate_Records</name>
        <label>Get Existing Admin Rate Records</label>
        <locationX>942</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Existing_to_Revised_Or_Expired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Administrative_Rate_Record.Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Admin_Rates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Admin_Rate_When_Rejected</name>
        <label>Update Admin Rate When Rejected</label>
        <locationX>681</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Rejected</targetReference>
        </connector>
        <inputReference>Get_Administrative_Rate_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Agency_Administrative_Rates</name>
        <label>update Agency Administrative Rates</label>
        <locationX>971</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Approved</targetReference>
        </connector>
        <inputReference>Get_Administrative_Rate_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_to_Expired</name>
        <label>Update Existing to Expired</label>
        <locationX>1204</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Final_Approve_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Admin_Rate_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDateForExisting</elementReference>
            </value>
        </inputAssignments>
        <object>Agency_Admin_Rates__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_To_Revised</name>
        <label>Update Existing To Revised</label>
        <locationX>1159</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Final_Approve_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Admin_Rate_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Revised</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>EndDateForExisting</elementReference>
            </value>
        </inputAssignments>
        <object>Agency_Admin_Rates__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Final_Approve_Screen</name>
        <label>Final Approve Screen</label>
        <locationX>1478</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Record is successfully reviewed. Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Reject_Screen</name>
        <label>Final Reject Screen</label>
        <locationX>739</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Record is Rejected. Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MARS_Administrative_Rated_Approval</name>
        <label>MARS - Administrative Rated Approval</label>
        <locationX>560</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select Reviewed to Review the Record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approve_Reject_Radio</name>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review_Reason</name>
            <dataType>String</dataType>
            <fieldText>Reviewed Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ApproveChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Administrative_Rate_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Approval_Email1</name>
        <label>Send Approval Email</label>
        <locationX>1436</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_Existing_Admin_Rate_Records</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Approved.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Administrative_Rate_Record.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Administrative_Rate_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>421</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Final_Reject_Screen</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Rejected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Administrative_Rate_Record.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Administrative_Rate_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Approve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
