codepkg/flows/MARS_Reimbursement_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>720</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>Get_Reimbursement_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reimbursement_Record.Mutual_Aid_Staff_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Review_Approved_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved_0</name>
        <label>Update Status To Approved</label>
        <locationX>767</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>Get_Reimbursement_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reimbursement_Record.Mutual_Aid_Staff_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approve_Reject_comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved_0_0</name>
        <label>Update Status To Approved</label>
        <locationX>756</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Get_Reimbursement_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reimbursement_Record.Mutual_Aid_Staff_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Review_Approved_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AgencyReview</name>
        <choiceText>Agency Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>ApproveChoice</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>RejectedChoice</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>583</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApproveChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RejectedChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved_0</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
        <rules>
            <name>if_Agency_Review_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AgencyReview</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved_0_0</targetReference>
            </connector>
            <label>if Agency Review selected</label>
        </rules>
    </decisions>
    <interviewLabel>MARS - Reimbursement  Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Reimbursement  Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Reimbursement_Record</name>
        <label>Get Reimbursement Record</label>
        <locationX>186</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Reject_Reimbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reimbursement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>979</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Approv_Reject_Record_Message</targetReference>
        </connector>
        <inputReference>Get_Reimbursement_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approv_Reject_Record_Message</name>
        <label>Approv/Reject Record Message</label>
        <locationX>1148</locationX>
        <locationY>231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AgencyReviewed</name>
            <fieldText>&lt;p&gt;Record is Agency Review . Click &quot;Finish&quot; to refresh record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Select_a_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgencyReview</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ApprovedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Record is Approved. Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Select_a_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ApproveChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FinishMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Record is Rejected . Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Select_a_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RejectedChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approve_Reject_Reimbursement</name>
        <label>Approve/Reject Reimbursement</label>
        <locationX>417</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <fields>
            <name>Select_a_Status</name>
            <choiceReferences>AgencyReview</choiceReferences>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>RejectedChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approve_Reject_comment</name>
            <dataType>String</dataType>
            <fieldText>Reject comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Select_a_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RejectedChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Agency_Review_Approved_Comments</name>
            <dataType>String</dataType>
            <fieldText>Agency Review/Approved Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR 2</conditionLogic>
                <conditions>
                    <leftValueReference>Select_a_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AgencyReview</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_a_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ApproveChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Reimbursement_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
