codepkg/flows/MARS_Invoice_Notify_Internal_People_From_Paying_Agency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>543</locationX>
        <locationY>422</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_notification_details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notificationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Member_Id</name>
        <label>Assign Member Id</label>
        <locationX>50</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>notificationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Group_Members</targetReference>
        </connector>
    </assignments>
    <interviewLabel>MARS- Invoice Notify Internal People From Paying Agency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS- Invoice Notify Internal People From Paying Agency</label>
    <loops>
        <name>Iterate_Over_Group_Members</name>
        <label>Iterate Over Group Members</label>
        <locationX>51</locationX>
        <locationY>346</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Member_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Groups</name>
        <label>Iterate Over Groups</label>
        <locationX>538</locationX>
        <locationY>234</locationY>
        <collectionReference>Get_Public_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Custom_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>1120</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_notification_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Source.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Source</name>
        <label>Get Funding Source</label>
        <locationX>914</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Payment.Funding_Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Source__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>319</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Groups.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Payment</name>
        <label>Get Invoice Payment</label>
        <locationX>556</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invoicePaymentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>743</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Payment.Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_notification_details</name>
        <label>get notification details</label>
        <locationX>976</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Publish_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Groups</name>
        <label>Get Public Groups</label>
        <locationX>712</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Groups</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS_Level1_Level2_Users</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS_OES_Reimbursement_Secondary</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS_OES_Field_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>118</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_Invoice_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice {!Get_Invoice_Record.Name} form Paying Agency {!Get_Account_Record.Name} is {!Get_Invoice_Payment.Status__c}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice is updated</text>
    </textTemplates>
    <variables>
        <name>invoicePaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>publicGroupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>publicGroupRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
