codepkg/flows/MARS_Agency_Salary_Survey_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_List</name>
        <label>Add Line Item to List</label>
        <locationX>992</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>AgencySurveyLineRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Effective_Date_1</name>
        <label>Update Effective Date -1</label>
        <locationX>385</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>EffectiveDate_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency_Salary_Survey.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EffectiveDate_1</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Agency_Salary_Survey_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Old_Record_to_Revised</name>
        <label>Update Old Record to Revised</label>
        <locationX>748</locationX>
        <locationY>15</locationY>
        <assignmentItems>
            <assignToReference>Get_Old_Agency_Salary_Survey_Records.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revised</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Old_Agency_Salary_Survey_Records.END_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EffectiveDate_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Active</name>
        <label>Update Status to Active</label>
        <locationX>1087</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency_Salary_Survey.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Current_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Revised_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>387</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Salary_Survey.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Salary_Survey.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency_Salary_Survey.Requested_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Salary_Survey.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approve_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Effective_Date_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Reject</name>
        <label>Update Status To Reject</label>
        <locationX>410</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Salary_Survey.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Salary_Survey.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency_Salary_Survey_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApproveChoice</name>
        <choiceText>Reviewed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviewed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Created_By_Contact_is_not_null</name>
        <label>Check Created By Contact is not null</label>
        <locationX>1417</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_By_contact_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_Salary_Survey.CreatedBy.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_Email</targetReference>
            </connector>
            <label>Created By contact is not null</label>
        </rules>
        <rules>
            <name>Created_By_contact_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_Salary_Survey.CreatedBy.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_approve_screen</targetReference>
            </connector>
            <label>Created By contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>166</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApproveChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reject</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Old_Record_Not_Found</name>
        <label>If Old Record Not Found</label>
        <locationX>495</locationX>
        <locationY>22</locationY>
        <defaultConnector>
            <targetReference>Update_Agency_Salary_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Old_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Agency_Salary_Survey_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Agency_Salary_Survey_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Record_to_Revised</targetReference>
            </connector>
            <label>If Old Record Found</label>
        </rules>
    </decisions>
    <description>Screen for Review or Reject Salary Survey</description>
    <dynamicChoiceSets>
        <name>Approve_Reject1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Agency_Salary_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Approve_RejectChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Agency_Salary_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>MARS - Agency Salary Survey Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Agency Salary Survey Review</label>
    <loops>
        <name>Iterate_Over_Line_Items</name>
        <label>Iterate Over Line Items</label>
        <locationX>777</locationX>
        <locationY>316</locationY>
        <collectionReference>Get_Survey_line_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Survey_Line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agency_Salary_Survey</name>
        <label>Get Agency Salary Survey</label>
        <locationX>176</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Salary_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Approval</name>
        <label>Get Email Template Id For Approval</label>
        <locationX>1224</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Created_By_Contact_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salary survey Reviewed Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Rejection</name>
        <label>Get Email Template Id For Rejection</label>
        <locationX>774</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejection_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Salary Survey Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Agency_Salary_Survey_Records</name>
        <label>Get Old Agency Salary Survey Records</label>
        <locationX>391</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Old_Record_Not_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Salary_Survey.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Agency_Salary_Survey.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Salary_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_line_Record</name>
        <label>Get Survey line Record</label>
        <locationX>775</locationX>
        <locationY>488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Salary_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Salary_Survey.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Salary_Survey_Line_Items__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Current_Rate__c</queriedFields>
        <queriedFields>Revised_Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agency_Salary_Survey</name>
        <label>Update Agency Salary Survey</label>
        <locationX>599</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Get_Survey_line_Record</targetReference>
        </connector>
        <inputReference>Get_Agency_Salary_Survey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agency_Salary_Survey_0</name>
        <label>Update Agency Salary Survey</label>
        <locationX>624</locationX>
        <locationY>661</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Rejection</targetReference>
        </connector>
        <inputReference>Get_Agency_Salary_Survey</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Records</name>
        <label>Update Old Records</label>
        <locationX>874</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Update_Agency_Salary_Survey</targetReference>
        </connector>
        <inputReference>Get_Old_Agency_Salary_Survey_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Line_items</name>
        <label>Update Survey Line items</label>
        <locationX>1089</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Approval</targetReference>
        </connector>
        <inputReference>AgencySurveyLineRecordsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_Reject</name>
        <label>Approve/Reject</label>
        <locationX>177</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <fields>
            <name>Display_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select Reviewed&amp;nbsp;to activate  agency salary survey on {!Get_Agency_Salary_Survey.Requested_Effective_Date__c}.&lt;/p&gt;&lt;p&gt;Select reject if you are not agree with revise rates. Reject reason is mandatory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approve_Reject_Radio</name>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approve_Comment</name>
            <dataType>String</dataType>
            <fieldText>Reviewed Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ApproveChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_approve_screen</name>
        <label>Final approve screen</label>
        <locationX>1666</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Message</name>
            <fieldText>&lt;p&gt;Record is successfully reviewed. Click &quot;Finish&quot; to refresh record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_Finish</name>
        <label>Reject Finish</label>
        <locationX>1200</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reject_Finish_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Record is Rejected . Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Agency_Salary_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Approval_Email</name>
        <label>Send Approval Email</label>
        <locationX>1537</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Final_approve_screen</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Approval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Agency_Salary_Survey.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>990</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>Reject_Finish</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Rejection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Agency_Salary_Survey.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AgencySurveyLineRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Salary_Survey_Line_Items__c</objectType>
    </variables>
    <variables>
        <name>ApproveReject2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproveReject4</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproveReject5</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedByContacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EffectiveDate_1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
