codepkg/flows/MARS_Agency_Rate_Agreement_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>1926</locationX>
        <locationY>1084</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Final_approve_screen_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_notification_details.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notificationIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_List</name>
        <label>Add Line Item to List</label>
        <locationX>1578</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>AgencyRateAgreementLineRecordtoUpdate1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Manager_Id</name>
        <label>assign Manager Id</label>
        <locationX>2122</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>notificationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Active</name>
        <label>Update Status to Active</label>
        <locationX>1737</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency_Rate_Agreement.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agency_Rate_Agreement.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>1243</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Rate_Agreement_line_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved_0</name>
        <label>Update Status To Approved</label>
        <locationX>947</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed and Pending Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Level_2_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency_Rate_Agreement_Records_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Reject</name>
        <label>Update Status To Reject</label>
        <locationX>1302</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency_Rate_Agreement_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Reject_0</name>
        <label>Update Status To Reject</label>
        <locationX>1230</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreement.Level_2_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency_Rate_Agreement_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApproveChoice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Approve</elementReference>
        </value>
    </choices>
    <choices>
        <name>ApproveReject77</name>
        <choiceText>{!Approve_Reject1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Approve_Reject1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_current_User_has_an_record_for_Approval</name>
        <label>Check current User has an record for Approval</label>
        <locationX>717</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Final_approve_screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Members_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Reject</targetReference>
            </connector>
            <label>Record for Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_current_User_has_an_record_for_Approval_0</name>
        <label>Check current User has an record for Approval</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Final_approve_screen_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_for_Approval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group_Members_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Reject_0</targetReference>
            </connector>
            <label>Record for Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_Approved_by_Level_2_and_Level_1</name>
        <label>Check Record is Approved by Level 2 and Level 1</label>
        <locationX>458</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Level_2_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_Rate_Agreement.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Groups_1</targetReference>
            </connector>
            <label>Is Level 2 Approval</label>
        </rules>
        <rules>
            <name>Is_Level_1_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_Rate_Agreement.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed and Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Groups_0</targetReference>
            </connector>
            <label>Is Level 1 Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>1088</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reject</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Action_0</name>
        <label>Check User Action</label>
        <locationX>726</locationX>
        <locationY>787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved_0</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reject_0</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Approve_Reject1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Agency_Salary_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Approve_RejectChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Agency_Salary_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>MARS - Agency Rate Agreement Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Agency Rate Agreement Approval</label>
    <loops>
        <name>Iterate_Over_Group_Members</name>
        <label>Iterate Over Group Members</label>
        <locationX>1923</locationX>
        <locationY>877</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Manager_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Custom_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Line_Items</name>
        <label>Iterate Over Line Items</label>
        <locationX>1577</locationX>
        <locationY>209</locationY>
        <collectionReference>Get_Rate_Agreement_line_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Agreement_Line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agency_Rate_Agreement</name>
        <label>Get Agency Rate Agreement</label>
        <locationX>1054</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_is_Approved_by_Level_2_and_Level_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Rate_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Approval</name>
        <label>Get Email Template Id For Approval</label>
        <locationX>1889</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Approval_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Agreement (MOU/MOA/GBR) Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Id_For_Rejection</name>
        <label>Get Email Template Id For Rejection</label>
        <locationX>1653</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejection_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Agency Rate Agreement Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>1739</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Groups.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_0</name>
        <label>Get Group Members</label>
        <locationX>917</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_current_User_has_an_record_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Groups_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_1</name>
        <label>Get Group Members</label>
        <locationX>60</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_current_User_has_an_record_for_Approval_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Groups_1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_notification_details</name>
        <label>get notification details</label>
        <locationX>1397</locationX>
        <locationY>881</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Public_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Publish_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Groups</name>
        <label>Get Public Groups</label>
        <locationX>1576</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS_OES_Fire_Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Groups_0</name>
        <label>Get Public Groups</label>
        <locationX>909</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS_OES_Fire_Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Groups_1</name>
        <label>Get Public Groups</label>
        <locationX>258</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS_OES_Reimbursement_Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Agreement_line_Record</name>
        <label>Get Rate Agreement line Record</label>
        <locationX>1406</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Rate_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agency_Rate_Agreement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agency_Rate_Agreement_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agency_Rate_Agreement_Records</name>
        <label>Update Agency Rate Agreement Records</label>
        <locationX>1503</locationX>
        <locationY>661</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Rejection</targetReference>
        </connector>
        <inputReference>Get_Agency_Rate_Agreement</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agency_Rate_Agreement_Records_0</name>
        <label>Update Agency Rate Agreement Records</label>
        <locationX>1928</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_Email_Template_Id_For_Approval</targetReference>
        </connector>
        <inputReference>Get_Agency_Rate_Agreement</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agency_Rate_Agreement_Records_0_0</name>
        <label>Update Agency Rate Agreement Records</label>
        <locationX>1217</locationX>
        <locationY>881</locationY>
        <connector>
            <targetReference>get_notification_details</targetReference>
        </connector>
        <inputReference>Get_Agency_Rate_Agreement</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Agreement_Line_items</name>
        <label>Update Agreement Line items</label>
        <locationX>1778</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Update_Agency_Rate_Agreement_Records_0</targetReference>
        </connector>
        <inputReference>AgencyRateAgreementLineRecordtoUpdate1</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_Reject</name>
        <label>Approve/Reject</label>
        <locationX>752</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <fields>
            <name>Approve_Reject_Radio</name>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Approve/Reject for Agreement</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason</name>
            <dataType>String</dataType>
            <fieldText>Approve/Reject comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approve_Reject_0</name>
        <label>Approve/Reject</label>
        <locationX>472</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Action_0</targetReference>
        </connector>
        <fields>
            <name>Approve_Reject_Radio_0</name>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Approve/Reject for Agreement</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason_0</name>
            <dataType>String</dataType>
            <fieldText>Approve/Reject comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_approve_screen</name>
        <label>Final approve screen</label>
        <locationX>2390</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Message</name>
            <fieldText>&lt;p&gt;Record is successfully approved. Click &quot;Finish&quot; to refresh record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_approve_screen_0</name>
        <label>Final approve screen</label>
        <locationX>1709</locationX>
        <locationY>1086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Message_0</name>
            <fieldText>&lt;p&gt;Approval is in progress&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_approve_screen_0_0</name>
        <label>Final approve screen</label>
        <locationX>608</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Message_0_0</name>
            <fieldText>&lt;p&gt;Approval is in Progress.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_approve_screen_0_0_0</name>
        <label>Final approve screen</label>
        <locationX>58</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Message_0_0_0</name>
            <fieldText>&lt;p&gt;Approval is in Progress.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_Finish</name>
        <label>Reject Finish</label>
        <locationX>2077</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reject_Finish_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Record is Rejected . Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>929</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Agency_Rate_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Approval_Email1</name>
        <label>Send Approval Email</label>
        <locationX>2177</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>Final_approve_screen</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Approval.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Agency_Rate_Agreement.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Rejection_Email1</name>
        <label>Send Rejection Email</label>
        <locationX>1872</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Reject_Finish</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Id_For_Rejection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Agency_Rate_Agreement.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Agreements (MOU/MOA/GBR) {!Get_Agency_Rate_Agreement.Name} is Submitted</text>
    </textTemplates>
    <textTemplates>
        <name>notificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Agreements (MOU/MOA/GBR) Submission</text>
    </textTemplates>
    <variables>
        <name>AgencyRateAgreementLineRecordtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Rate_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AgencyRateAgreementLineRecordtoUpdate1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Agency_Rate_Agreement_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Approve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </variables>
    <variables>
        <name>ApproveReject2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproveReject4</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproveReject5</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
