codepkg/flows/MARS_First_Administration_Rate_Default_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>currentYearDate</name>
        <dataType>Date</dataType>
        <expression>Date(YEAR(TODAY()),07,01)</expression>
    </formulas>
    <interviewLabel>MARS-First Administration Rate Default Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS-First Administration Rate Default Reminder</label>
    <loops>
        <name>Iterate_Over_Account_Contact_Relationship</name>
        <label>Iterate Over Account Contact Relationship</label>
        <locationX>702</locationX>
        <locationY>308</locationY>
        <collectionReference>Get_Account_Contact_Relationship_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Administrative_Rate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Contact_Relationship_Record</name>
        <label>Get Account Contact Relationship Record</label>
        <locationX>445</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Account_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relationship_Strength__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Administrative_Rate</name>
        <label>Get Administrative Rate</label>
        <locationX>1024</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Remainder_Email1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Account_Contact_Relationship.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>currentYearDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Admin_Rates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>160</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Contact_Relationship_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Administration Rate Expiration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>App_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MARS</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Community_Application_to_User__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-22</startDate>
            <startTime>05:42:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Send_Remainder_Email1</name>
        <label>Send Remainder Email</label>
        <locationX>809</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Iterate_Over_Account_Contact_Relationship</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Autolaunched_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Iterate_Over_Account_Contact_Relationship.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Iterate_Over_Account_Contact_Relationship.AccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_Send_Email_To_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
</Flow>
