codepkg/flows/MARS_Special_Equipment_Rates_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_List</name>
        <label>Add Line Item to List</label>
        <locationX>1350</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>AgencySpecialEquipLineItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Effective_Date_1</name>
        <label>Update Effective Date -1</label>
        <locationX>407</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>EffectiveDate_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Special_Equipment_Parent.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EffectiveDate_1</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Special_Equip_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Old_Record_to_Revised</name>
        <label>Update Old Record to Revised</label>
        <locationX>787</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>Get_Old_Special_Equip_Records.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revised</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Old_Special_Equip_Records.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EffectiveDate_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Active</name>
        <label>Update Status to Active</label>
        <locationX>1455</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Current_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items.Revised_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>407</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>Get_Special_Equipment_Parent.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Special_Equipment_Parent.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Effective_Date_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_To_Reject</name>
        <label>Update Status To Reject</label>
        <locationX>401</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>Get_Special_Equipment_Parent.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Special_Equipment_Parent.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Special_Equipment_Rate_Approval</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Reviewed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviewed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>167</locationX>
        <locationY>481</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reject</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Old_Record_Not_Found</name>
        <label>If Old Record Not Found</label>
        <locationX>560</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Update_Special_Equipment_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Old_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Special_Equip_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Special_Equip_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Old_Record_to_Revised</targetReference>
            </connector>
            <label>If Old Record Found</label>
        </rules>
    </decisions>
    <interviewLabel>MARS - Special Equipment Rates Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Special Equipment Rates Review</label>
    <loops>
        <name>Iterate_Over_Line_Items</name>
        <label>Iterate Over Line Items</label>
        <locationX>1106</locationX>
        <locationY>324</locationY>
        <collectionReference>Get_Special_Equip_line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Special_Equip_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval_Email_Template_Id</name>
        <label>Get Approval Email Template Id</label>
        <locationX>1535</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Approval_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Special Equipment Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_for_Rejected</name>
        <label>Get Email Template for Rejected</label>
        <locationX>646</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Rejection_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Notification for Special Equipment Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Special_Equip_Records</name>
        <label>Get Old Special Equip Records</label>
        <locationX>407</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Old_Record_Not_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Special_Equipment_Parent.Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Special_Equipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Equip_line_Item</name>
        <label>Get Special Equip line Item</label>
        <locationX>969</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Special_Equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agency_Special_Equipment_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Current_Rate__c</queriedFields>
        <queriedFields>Revised_Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Equipment_Parent</name>
        <label>Get Special Equipment Parent</label>
        <locationX>176</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Special_Equipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_Records</name>
        <label>Update Old Records</label>
        <locationX>976</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Update_Special_Equipment_Rate</targetReference>
        </connector>
        <inputReference>Get_Old_Special_Equip_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Special_Equip_Line_Items</name>
        <label>Update Special Equip Line Items</label>
        <locationX>1324</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Get_Approval_Email_Template_Id</targetReference>
        </connector>
        <inputReference>AgencySpecialEquipLineItemsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Special_Equipment_Rate</name>
        <label>Update Special Equipment Rate</label>
        <locationX>617</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Get_Special_Equip_line_Item</targetReference>
        </connector>
        <inputReference>Get_Special_Equipment_Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Special_Equipment_Rate_Approval</name>
        <label>Update Special Equipment Rate Approval</label>
        <locationX>520</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Get_Email_Template_for_Rejected</targetReference>
        </connector>
        <inputReference>Get_Special_Equipment_Parent</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_Reject</name>
        <label>Approve/Reject</label>
        <locationX>176</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Special_Equipment_Parent</targetReference>
        </connector>
        <fields>
            <name>Display_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Select Reviewed to Review the Record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approve_Reject_Radio</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reject</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval_Comments</name>
            <dataType>String</dataType>
            <fieldText>Reviewed Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Approve</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reviewed_Record</name>
        <label>Reviewed Record</label>
        <locationX>1939</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Recordisreviewed</name>
            <fieldText>&lt;p&gt;Record is successfully reviewed. Click &quot;Finish&quot; to refresh record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reviewed_Record_0</name>
        <label>Rejected Record</label>
        <locationX>859</locationX>
        <locationY>716</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Recordisreviewed_0</name>
            <fieldText>&lt;p&gt;Record is Rejected. Click &quot;Finish&quot; to refresh record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Approve_Reject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Approval_Email</name>
        <label>Send Approval Email</label>
        <locationX>1774</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Reviewed_Record</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Approval_Email_Template_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Special_Equipment_Parent.Owner:User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>Get_Special_Equipment_Parent.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>854</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Reviewed_Record_0</targetReference>
        </connector>
        <flowName>MARS_Send_Email_Flow</flowName>
        <inputAssignments>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_for_Rejected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Special_Equipment_Parent.CreatedBy.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AgencySpecialEquipLineItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Special_Equipment_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>EffectiveDate_1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
