codepkg/flows/MARS_Agency_Rate_Agreement.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Status_To_Approved</name>
        <label>Update Status To Approved</label>
        <locationX>608</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreements_Record.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproveChoice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Status_To_Reject</name>
        <label>Update Status To Reject</label>
        <locationX>411</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreements_Record.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agency_Rate_Agreements_Record.Reject_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency_Rate_Agreement_on_rejected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApproveChoice</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>RejectChoice</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Action</name>
        <label>Check User Action</label>
        <locationX>408</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Approve_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApproveChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Approved</targetReference>
            </connector>
            <label>if Approve selected</label>
        </rules>
        <rules>
            <name>If_Reject_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RejectChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Reject</targetReference>
            </connector>
            <label>If Reject Selected</label>
        </rules>
    </decisions>
    <interviewLabel>MARS - Agency Rate Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MARS - Agency Rate Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agency_Rate_Agreements_Record</name>
        <label>Get Agency Rate Agreements Record</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency_Rate_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agency_Rate_Agreement_on_rejected</name>
        <label>Update Agency Rate Agreement on rejected</label>
        <locationX>583</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Reject_Finish</targetReference>
        </connector>
        <inputReference>Get_Agency_Rate_Agreements_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Approve_Reject</name>
        <label>Approve/Reject</label>
        <locationX>173</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_Action</targetReference>
        </connector>
        <fields>
            <name>Display_Help_Text</name>
            <fieldText>&lt;p&gt;Select Approve to activate  Agency Rate Agreement&lt;/p&gt;&lt;p&gt;Select reject if you are not agree with revise rates. Reject reason is mandatory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approve_Reject_Radio</name>
            <choiceReferences>ApproveChoice</choiceReferences>
            <choiceReferences>RejectChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reject_Reason</name>
            <dataType>String</dataType>
            <fieldText>Reject Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve_Reject_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RejectChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_Finish</name>
        <label>Reject Finish</label>
        <locationX>787</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Reject_Finish_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Record is Rejected . Click &quot;Finish&quot; to refresh record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Agency_Rate_Agreements_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approve</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
