codepkg/flows/PA_CDAA_State_Only_Closeout_Checklists_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Project_Closeout</name>
        <label>Create Project Closeout</label>
        <locationX>597</locationX>
        <locationY>960</locationY>
        <actionName>PA_ProjectCloseoutCreationFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_on_Project_Closeout_Record_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Current_CDAA_Project_Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>projectCloseoutRecordIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>Send_Small_Project_Email_To_User</name>
        <label>Send Small Project Email To User</label>
        <locationX>1313</locationX>
        <locationY>57</locationY>
        <apexClass>FlowSendEmail</apexClass>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Small_Project_Email_Template_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Small_Project_Email_address_Records.Text_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Checklist_and_Responses</name>
        <label>Add Checklist and Responses</label>
        <locationX>1158</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Question_1_Is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Checklist_and_Responses_0</name>
        <label>Add Checklist and Responses</label>
        <locationX>1479</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord7.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord7.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord7.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Project_Closeout_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord7.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Project_Closeout_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Project_Closeout_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Project_Closeout_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord6.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord6.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord6.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Project_Closeout_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord6.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_6_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Project_Closeout_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Question_first_Is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Checklist_Responses_To_List</name>
        <label>Add Checklist Responses To List</label>
        <locationX>964</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Project_Closeout_Record_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Checklist_Responses_To_List_0</name>
        <label>Add Checklist Responses To List</label>
        <locationX>1917</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Question4_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question5</name>
        <label>Add Question5</label>
        <locationX>1954</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_5_Is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question_3</name>
        <label>Add Question 3</label>
        <locationX>1406</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Project_Closeout_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question_6</name>
        <label>Add Question 6</label>
        <locationX>1576</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Question2_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Checklist_Response</name>
        <label>Hide Checklist Response</label>
        <locationX>242</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>Show_Checklist_Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CDAA_State_Only_Projects_DSRs_to_100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Show_Notes</name>
        <label>Set Show Notes</label>
        <locationX>1527</locationX>
        <locationY>1575</locationY>
        <assignmentItems>
            <assignToReference>ShowNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Save_Changes_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Checklist_Response_List</name>
        <label>Show Checklist Response</label>
        <locationX>58</locationX>
        <locationY>1216</locationY>
        <assignmentItems>
            <assignToReference>Show_Checklist_Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CDAA_State_Only_Projects_DSRs_to_100</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>CompletionDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What was this project’s completion date?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is the scope of work for all your projects 100% complete including all supplemental DSRs?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Has any of your projects exceeded the Approved  Completion Date?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you submitted a Time Extension request?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you filed an insurance claim for this project?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Were insurance proceeds awarded?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you received final claim reconciliation documents from your  insurance provider? If so, please provide Insurance Declaration Page,  Insurance Claim Summary, and Final Statement of Loss.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are there any pending projects/vouchers with other  federal agencies i.e., NRCS, FHWA (excluding FEMA)?</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Amentment_Request_Records</name>
        <label>Check Amentment Request Records</label>
        <locationX>1780</locationX>
        <locationY>1941</locationY>
        <defaultConnector>
            <targetReference>Set_Show_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Amentment_Request_Records_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AmmendmentRequest_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Amendment_Request_End_Date</targetReference>
            </connector>
            <label>If Amentment Request Records Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Project_Is_100_Percent_Complete</name>
        <label>Check If Project Is 100 Percent Complete</label>
        <locationX>312</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Check_CDAA_Last_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Project_Is_100_Per_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.Percent_Complete_To_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Action_Needed</targetReference>
            </connector>
            <label>Check If Project Is 100 Per Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_CDAA_Project</name>
        <label>Check Last CDAA Project</label>
        <locationX>50</locationX>
        <locationY>921</locationY>
        <defaultConnector>
            <targetReference>Hide_Checklist_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Last_CDAA_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_CDAA_Last_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Checklist_Response_List</targetReference>
            </connector>
            <label>If Last CDAA Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Percentage_Is_100_Percent_Completed</name>
        <label>Check Percentage Is 100 Percent Completed</label>
        <locationX>707</locationX>
        <locationY>1293</locationY>
        <defaultConnector>
            <targetReference>Show_Save_Changes_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Percentage_100_Percent_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Percentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percentage_Is_Greater_Than_100</targetReference>
            </connector>
            <label>Check Percentage 100 Percent Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_End_Date</name>
        <label>Check Project End Date</label>
        <locationX>1064</locationX>
        <locationY>1990</locationY>
        <defaultConnector>
            <targetReference>Show_Save_Changes_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compare_Project_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amentment_Request_Records</targetReference>
            </connector>
            <label>Compare Project End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Is_Completed</name>
        <label>Check Project Is Completed</label>
        <locationX>463</locationX>
        <locationY>1273</locationY>
        <defaultConnector>
            <targetReference>Check_Percentage_Is_100_Percent_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>project_future_date_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Futured_Date_can_not_selected_for_project</targetReference>
            </connector>
            <label>project future date selected</label>
        </rules>
        <rules>
            <name>If_Question1_Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Question_Is_No</targetReference>
            </connector>
            <label>If Question1 Is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Amendment_Request_End_Date</name>
        <label>Compare Amendment Request End Date</label>
        <locationX>1846</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Show_Save_Changes_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compare_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AmmendmentRequest_Records.TimeExtensionEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Show_Notes</targetReference>
            </connector>
            <label>Compare End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question2_Yes</name>
        <label>If Question2 Yes</label>
        <locationX>1327</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Project_Closeout_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question2_Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question_3</targetReference>
            </connector>
            <label>Question2 Is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question4_Yes</name>
        <label>If Question4 Yes</label>
        <locationX>1922</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Project_Closeout_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Question_4_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question5</targetReference>
            </connector>
            <label>If Question 4 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question7_Yes</name>
        <label>If Question7 Yes</label>
        <locationX>460</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Get_Current_CDAA_Project_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Question_7_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDAA_State_Only_Projects_DSRs_to_100</targetReference>
            </connector>
            <label>If Question 7 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question_1_Is_Yes</name>
        <label>If Question 1 Is Yes</label>
        <locationX>1247</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Project_Percentage_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Question1_Selected_As_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Checklist_Responses_To_List</targetReference>
            </connector>
            <label>If Question1 Selected As Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question_first_Is_Yes</name>
        <label>If Question first  Is Yes</label>
        <locationX>1640</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Question_first_Selected_As_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Checklist_Responses_To_List_0</targetReference>
            </connector>
            <label>If Question first Selected As Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question_Is_No</name>
        <label>If Question Is No</label>
        <locationX>648</locationX>
        <locationY>1593</locationY>
        <defaultConnector>
            <targetReference>Check_Project_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Question3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Show_Notes</targetReference>
            </connector>
            <label>Check Question3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_CDAA_Project_Last_Project</name>
        <label>Is Current CDAA Project Last Project</label>
        <locationX>1199</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Create_CheckList_Reponses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CDAA_Project_Last_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_CDAA_Project_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Closeout_Records</targetReference>
            </connector>
            <label>Is CDAA Project Last Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Last_Small_Project_Recor</name>
        <label>Is Last Small Project Recor</label>
        <locationX>873</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Last_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Project_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Small_Project_Email_Template_Records</targetReference>
            </connector>
            <label>Is Last Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_5_Is_Yes</name>
        <label>Question 5 Is Yes</label>
        <locationX>1808</locationX>
        <locationY>777</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Project_Closeout_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question5_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question_6</targetReference>
            </connector>
            <label>Question5 Yes</label>
        </rules>
    </decisions>
    <description>Handling of CDAA Closeout Checklist Flow</description>
    <formulas>
        <name>Get_Updated_Percentage</name>
        <dataType>Number</dataType>
        <expression>(IF(ISNULL({!Percentage_Updated_Value}), 0, {!Percentage_Updated_Value}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GetPercentageField</name>
        <dataType>Number</dataType>
        <expression>{!Get_Project_Records.Percent_Complete_To_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PA CDAA State Only Closeout Checklists Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Completion Status</label>
    <loops>
        <name>Iterate_on_Project_Closeout_Record_Id</name>
        <label>Iterate on Project Closeout Record Id</label>
        <locationX>1016</locationX>
        <locationY>760</locationY>
        <collectionReference>projectCloseoutRecordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Checklist_and_Responses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_CDAA_Project_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Project_Closeout_Id</name>
        <label>Iterate Over Project Closeout Id</label>
        <locationX>1304</locationX>
        <locationY>310</locationY>
        <collectionReference>Get_Project_Closeout_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Checklist_and_Responses_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CheckList_Reponses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CheckList_Reponses</name>
        <label>Create CheckList Reponses</label>
        <locationX>986</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Update_Project_Percentage_To_100</targetReference>
        </connector>
        <inputReference>CloseoutChecklistArray</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_CDAA_Last_Project</name>
        <label>Check CDAA Last Project</label>
        <locationX>60</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_CDAA_Project</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND  4 AND 6 AND (3 OR 5)</filterLogic>
        <filters>
            <field>Incident_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Obligating_Sub_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDAA (State Funding)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AmmendmentRequest_Records</name>
        <label>Get AmmendmentRequest Records</label>
        <locationX>539</locationX>
        <locationY>712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Project_Is_100_Percent_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AmendmentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time Extension</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Amendment_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_CDAA_Project_Record</name>
        <label>Get Current CDAA Project Record</label>
        <locationX>454</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Closeout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_CDAA_Project_Records</name>
        <label>Get Current CDAA Project Records</label>
        <locationX>1125</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Current_CDAA_Project_Last_Project</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 6) AND 4 AND 5</filterLogic>
        <filters>
            <field>Incident_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Obligating_Sub_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDAA (State Funding)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Project_Records</name>
        <label>Get Last Project Records</label>
        <locationX>873</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Last_Small_Project_Recor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incident_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Obligating_Sub_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CDAA (State Funding)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Closeout_Records</name>
        <label>Get Project Closeout Records</label>
        <locationX>1195</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Project_Closeout_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incident_Id_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subrecipient_Id_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Closeout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Records</name>
        <label>Get Project Records</label>
        <locationX>532</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AmmendmentRequest_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Project_Email_address_Records</name>
        <label>Get Small Project Email address Records</label>
        <locationX>1026</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Small_Project_Email_To_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA_Project_Completion_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Key_Value_Store__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Project_Email_Template_Records</name>
        <label>Get Small Project Email Template Records</label>
        <locationX>1028</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Small_Project_Email_address_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA SR Updates State only CDAA Projects</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Percentage_Field</name>
        <label>Update Project Percentage Field</label>
        <locationX>845</locationX>
        <locationY>1078</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percent_Complete_To_Date__c</field>
            <value>
                <elementReference>Percentage</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Percentage_To_100</name>
        <label>Update Project Percentage To 100</label>
        <locationX>874</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Get_Last_Project_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Project_Marked_100_Complete__c</field>
            <value>
                <elementReference>SetProjectCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_To_Date__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Completion_Date__c</field>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CDAA_State_Only_Projects_DSRs_to_100</name>
        <label>CDAA State Only Projects (DSRs) to 100%</label>
        <locationX>213</locationX>
        <locationY>1229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Project_Is_Completed</targetReference>
        </connector>
        <fields>
            <name>Check_Percentage_Updated</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Percent Complete To Date :   ﻿ &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Updated_Percentage}%&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question1}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>{!Completion_Date_Label}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Percentage</name>
            <dataType>Number</dataType>
            <fieldText>{!Percentage_Label}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question2}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Show_Checklist_Response</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question3}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_2</name>
            <fieldText>{!Comment_2_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question4}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Show_Checklist_Response</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_4</name>
            <fieldText>{!Comment_4_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_5</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question5}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_5</name>
            <fieldText>{!Comment_5_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_6</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question6}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_6_Comment</name>
            <fieldText>{!Question_6_Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question7}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Show_Checklist_Response</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_7</name>
            <fieldText>{!Comment_7_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Futured_Date_can_not_selected_for_project</name>
        <label>Futured Date can not selected for project</label>
        <locationX>344</locationX>
        <locationY>1562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Project_futured_Date_CantSelected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;A project should not be able to be marked 100% complete for future dates, please click on previous button to update the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Action_Needed</name>
        <label>No Action Needed</label>
        <locationX>329</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Percentage_Updated</name>
            <fieldText>&lt;p&gt;Percent Complete To Date :&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Updated_Percentage}%&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Percentage_Is_Greater_Than_100</name>
        <label>Percentage Is Greater Than 100</label>
        <locationX>988</locationX>
        <locationY>1303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Percentage_Greater_Than_100</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot;Current percent complete&quot; cannot be more than 100%, please click on previous button to update the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Save_Changes_Text</name>
        <label>Show Save Changes Text</label>
        <locationX>1077</locationX>
        <locationY>1200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Question7_Yes</targetReference>
        </connector>
        <fields>
            <name>Review_Screen</name>
            <fieldText>&lt;p&gt;Do you want to save the changes?&lt;/p&gt;&lt;p&gt;Click Next To Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_7</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Time_Extention_Notes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;No﻿te: The listed project completion date is past this project&apos;s last approved Period of Performance end date. Have you submitted a time extension request?If not, please include within your Closeout Request a justification for a time extension, which will be considered for approval as part of the project closeout process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowNotes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Validate_7_Question</name>
            <fieldText>&lt;p&gt;Note: YOUR APPLICATION IS NOT READY FOR CLOSEOUT. Please submit a request for forms CDAA 4 and 4a once the Cal OES DSR has been obligated with final project/voucher cost share.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Show_Projects_Remaining_Text</name>
            <fieldText>&lt;p&gt;The project has been updated to 100% complete. Once your last project is updated to 100% complete, please submit your Closeout Request. You will then receive two forms (a CDAA 4 Summary form and a CDAA 4a Project Certification form) for your Authorized Agent to complete and sign.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Checklist_Response</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Percentage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CDAA_Project_Text</name>
            <fieldText>&lt;p&gt;Marking a project 100% complete informs Cal OES that this project is now complete, which initiates the request to close the Project. After OES review, a Closeout Request link will appear in the closeout portal on your home page which will require final claim amounts to be entered and a Certification of Documentation (CDAA4a) and a CDAA Project Summary (CDAA4) to be completed and signed by a designated Authorized Agent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Checklist_Response</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Percentage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>406</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Get_Project_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Comment_2_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comment_4_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comment_5_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comment_7_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Completion_Date_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;What was this project’s completion date?&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Percentage_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Current percent complete&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Question_6_Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <variables>
        <name>CloseoutChecklistArray</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>IfPercentageUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Percentage_Updated_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Project_Records.Percent_Complete_To_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>projectCloseoutRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetProjectCurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Show_Checklist_Response</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
