codepkg/flows/PA_Closeout_FIR_Approval_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>ApprovedButton</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_AD_Analyst_Review</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;GAR-AD Analyst Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-AD Analyst Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_AD_OT_Review</name>
        <choiceText>GAR-AD OT Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-AD OT Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_AD_Review</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;GAR-AD Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-AD Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_Analyst_Other</name>
        <choiceText>GAR-Analyst Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-Analyst Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_DD_AnalystReview</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;GAR-DD Analyst Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-DD Analyst Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_DD_OT_Review</name>
        <choiceText>GAR-DD OT Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-DD OT Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_DD_Review</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;GAR-DD Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-DD Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>GAR_Other</name>
        <choiceText>GAR-Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAR-Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PeerReview</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Lead/Peer Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead/Peer Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1Review</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;PM1 Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM1 Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM2Review</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;PM2/PAO Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM2/PAO Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM3Review</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;PM3 Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM3 Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>RejectedButton</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Current_User_Login</name>
        <label>Check Current User Login</label>
        <locationX>735</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>SignedFirAndFir_DocumentAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_User_Loged_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_user_Approved.Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_user_Approved.Is_Current_User_Approver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_User_Approval</targetReference>
            </connector>
            <label>Current User Loged in</label>
        </rules>
        <rules>
            <name>CurrentOwnerRecord</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Current_user_Approved.Approval_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_user_Approved.Is_Current_logged_User_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_user_Approved.Is_Current_User_Approver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_user_Approved.Is_Current_Logged_User_Reviewer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closeout_Task_Approval</targetReference>
            </connector>
            <label>CurrentOwnerRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckApprovalSelected</name>
        <label>CheckApprovalSelected</label>
        <locationX>463</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM1ReviewSelectApproval</name>
            <conditionLogic>(1 OR 2 )AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PM1Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatusesCDAA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PM1Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM1Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PM1_Review_Approval</targetReference>
            </connector>
            <label>PM1ReviewSelectApproval</label>
        </rules>
        <rules>
            <name>PM2ReviewSelectApproval</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PM2Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatusesCDAA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PM2Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM2PAOLookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_PM2_PAO_Review_Approval</targetReference>
            </connector>
            <label>PM2ReviewSelectApproval</label>
        </rules>
        <rules>
            <name>PM3ReviewSelectApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PM3Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM3Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PM3_Review_Approval</targetReference>
            </connector>
            <label>PM3ReviewSelectApproval</label>
        </rules>
        <rules>
            <name>PeerReviewSelectApproval</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PeerReview</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApprovalStatusesCDAA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PeerReview</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadPeerReviewLookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Peer_Review_Approval</targetReference>
            </connector>
            <label>PeerReviewSelectApproval</label>
        </rules>
        <rules>
            <name>GarAdAnalystReviewSelectApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_AD_Analyst_Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_AD_Analyst_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_GAR_AD_Analyst_Review_Appproval</targetReference>
            </connector>
            <label>GarAdAnalystReviewSelectApproval</label>
        </rules>
        <rules>
            <name>GAR_AD_ReviewSelectApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_AD_Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_AD_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_GAR_AD_Review_Approval</targetReference>
            </connector>
            <label>GAR_AD_ReviewSelectApproval</label>
        </rules>
        <rules>
            <name>GAR_DD_Analyst_ReviewSelectApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_DD_AnalystReview</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_DD_Analyst_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_GAR_DD_Analyst_Review_Approval</targetReference>
            </connector>
            <label>GAR_DD_Analyst_ReviewSelectApproval</label>
        </rules>
        <rules>
            <name>GAR_DD_ReviewSelectApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_DD_Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_DD_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_GAR_DD_Review_Approval</targetReference>
            </connector>
            <label>GAR_DD_ReviewSelectApproval</label>
        </rules>
        <rules>
            <name>GAR_AD_OT_Review_SelectApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_AD_OT_Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_AD_OT_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GAR_AD_OT_Review_Approval</targetReference>
            </connector>
            <label>GAR-AD OT Review SelectApproval</label>
        </rules>
        <rules>
            <name>GAR_DD_OT_Review_selected_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_DD_OT_Review</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_DD_OT_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GAR_DD_OT_Review_Approval</targetReference>
            </connector>
            <label>GAR-DD OT Review selected Approval</label>
        </rules>
        <rules>
            <name>GAR_Other_Selected_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_Other_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GAR_Other</targetReference>
            </connector>
            <label>GAR-Other Selected Approval</label>
        </rules>
        <rules>
            <name>GAR_Analyst_Other_Selected_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GAR_Analyst_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_Analyst_Other_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GAR_Analyst_Other</targetReference>
            </connector>
            <label>GAR-Analyst Other Selected Approval</label>
        </rules>
        <rules>
            <name>Approver_is_not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PM1Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadPeerReviewLookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM2PAOLookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PM3Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_Analyst_Other_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_Other_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_DD_Analyst_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_DD_OT_Review_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_AD_OT_Review_Lookup.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_DD_Review_Lookup.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_AD_Review_Lookup.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GAR_AD_Analyst_Review_Lookup.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closeout_Task_Approval</targetReference>
            </connector>
            <label>Approver is not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckApprovedReject</name>
        <label>CheckApprovedReject</label>
        <locationX>976</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>UpdateStageAfterRejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApprovedButton</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStageAfterApproved</targetReference>
            </connector>
            <label>RecordApproved</label>
        </rules>
    </decisions>
    <formulas>
        <name>FIR_Document_URL</name>
        <dataType>String</dataType>
        <expression>{!ContaintDocument_URL.Text_Value__c}+&apos;/&apos;+{!Fir_ContaintDocument_Link_Details.ContentDocumentId}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>Signed_FIR_Document_URL</name>
        <dataType>String</dataType>
        <expression>{!ContaintDocument_URL.Text_Value__c}+&apos;/&apos;+{!SignFir_ContaintDocumentLink_Details.ContentDocumentId}+&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>PA Closeout FIR Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closeout FIR Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ContaintDocument_URL</name>
        <label>ContaintDocument URL</label>
        <locationX>693</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Current_User_Login</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA Fir Document URL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Key_Value_Store__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Current_user_Approved</name>
        <label>Current user Approved</label>
        <locationX>236</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fir_Sign_Document_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Closeout_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fir_ContaintDocument_Link_Details</name>
        <label>Fir ContaintDocument Link Details</label>
        <locationX>898</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContaintDocument_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FIR_Document_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FIR_Document_Details</name>
        <label>FIR Document Details</label>
        <locationX>509</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SignFir_ContaintDocumentLink_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closeout_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fir_Sign_Document_Details</name>
        <label>Fir Sign Document Details</label>
        <locationX>379</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FIR_Document_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closeout_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Document_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed FIR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SignFir_ContaintDocumentLink_Details</name>
        <label>SignFir ContaintDocumentLink Details</label>
        <locationX>671</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fir_ContaintDocument_Link_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fir_Sign_Document_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_GAR_AD_Analyst_Review_Appproval</name>
        <label>update_GAR_AD_Analyst_Review_Appproval</label>
        <locationX>65</locationX>
        <locationY>644</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-AD Analyst Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_AD_Analyst_Review_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GAR_AD_OT_Review_Approval</name>
        <label>Update GAR AD OT Review Approval</label>
        <locationX>61</locationX>
        <locationY>1032</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-AD OT Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_AD_OT_Review_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_GAR_AD_Review_Approval</name>
        <label>update_GAR_AD_Review_Approval</label>
        <locationX>57</locationX>
        <locationY>769</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-AD Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_AD_Review_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GAR_Analyst_Other</name>
        <label>Update GAR Analyst Other</label>
        <locationX>588</locationX>
        <locationY>1186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-Analyst Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_Analyst_Other_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_GAR_DD_Analyst_Review_Approval</name>
        <label>update_GAR_DD_Analyst_Review_Approval</label>
        <locationX>303</locationX>
        <locationY>1096</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-DD Analyst Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_DD_Analyst_Review_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GAR_DD_OT_Review_Approval</name>
        <label>Update GAR DD OT Review Approval</label>
        <locationX>175</locationX>
        <locationY>1102</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-DD OT Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_DD_OT_Review_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_GAR_DD_Review_Approval</name>
        <label>update_GAR_DD_Review_Approval</label>
        <locationX>72</locationX>
        <locationY>891</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-DD Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_DD_Review_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GAR_Other</name>
        <label>Update GAR Other</label>
        <locationX>413</locationX>
        <locationY>1147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>GAR-Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GAR_Other_Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Peer_Review_Approval</name>
        <label>Update_Lead_Peer_Review_Approval</label>
        <locationX>896</locationX>
        <locationY>805</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Lead/Peer Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>LeadPeerReviewLookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peer_Review__c</field>
            <value>
                <elementReference>LeadPeerReviewLookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PM1_Review_Approval</name>
        <label>Update_PM1_Review_Approval</label>
        <locationX>644</locationX>
        <locationY>604</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>PM1 Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>PM1Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_PM2_PAO_Review_Approval</name>
        <label>update_PM2_PAO_Review_Approval</label>
        <locationX>772</locationX>
        <locationY>908</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>PM2/PAO Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>PM2PAOLookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PM3_Review_Approval</name>
        <label>Update_PM3_Review_Approval</label>
        <locationX>630</locationX>
        <locationY>1013</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>PM3 Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>PM3Lookup.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStageAfterApproved</name>
        <label>UpdateStageAfterApproved</label>
        <locationX>773</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>Closeout_Task_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStageAfterRejected</name>
        <label>UpdateStageAfterRejected</label>
        <locationX>983</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Closeout_Task_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Stage__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Closeout_Task_Approval</name>
        <label>Closeout Task Approval</label>
        <locationX>477</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckApprovalSelected</targetReference>
        </connector>
        <fields>
            <name>ApprovalStatusesFederal</name>
            <choiceReferences>PeerReview</choiceReferences>
            <choiceReferences>PM1Review</choiceReferences>
            <choiceReferences>PM2Review</choiceReferences>
            <choiceReferences>PM3Review</choiceReferences>
            <choiceReferences>GAR_AD_Analyst_Review</choiceReferences>
            <choiceReferences>GAR_AD_OT_Review</choiceReferences>
            <choiceReferences>GAR_AD_Review</choiceReferences>
            <choiceReferences>GAR_DD_AnalystReview</choiceReferences>
            <choiceReferences>GAR_DD_OT_Review</choiceReferences>
            <choiceReferences>GAR_DD_Review</choiceReferences>
            <choiceReferences>GAR_Other</choiceReferences>
            <choiceReferences>GAR_Analyst_Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Current_user_Approved.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProgramTypeFederal</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Current_user_Approved.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ProgramTypeFmag</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ApprovalStatusesCDAA</name>
            <choiceReferences>PeerReview</choiceReferences>
            <choiceReferences>PM1Review</choiceReferences>
            <choiceReferences>PM2Review</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_user_Approved.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PorgramTypeCDAA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LeadPeerReviewLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_DAPS&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PeerReview</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ApprovalStatusesCDAA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PeerReview</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PM1Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_PM1&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PM1Review</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ApprovalStatusesCDAA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PM1Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PM2PAOLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_PM2_PAO&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PM2Review</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ApprovalStatusesCDAA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PM2Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PM3Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_PM3&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PM3Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_AD_Analyst_Review_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_AD_Analyst_Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_AD_OT_Review_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_AD_OT_Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_AD_Review_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_AD_Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_DD_Analyst_Review_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_DD_AnalystReview</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_DD_OT_Review_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_DD_OT_Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_DD_Review_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_DD_Review</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_Other_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GAR_Analyst_Other_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName = &apos;Public_Assistance_Recovery_GAR_All&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalStatusesFederal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GAR_Analyst_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FirAndSignFirDocumentStatus</name>
            <extensionName>c:paCloseoutTaskFirDocumenPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FirContentDocumentIdDetails</name>
                <value>
                    <elementReference>Fir_ContaintDocument_Link_Details.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FIRDocument</name>
                <value>
                    <elementReference>FIR_Document_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SignedFIRDocument</name>
                <value>
                    <elementReference>Signed_FIR_Document_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SignFirContentDocumentIdDetails</name>
                <value>
                    <elementReference>SignFir_ContaintDocumentLink_Details.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Current_User_Approval</name>
        <label>Current User Approval</label>
        <locationX>970</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckApprovedReject</targetReference>
        </connector>
        <fields>
            <name>Select_Status</name>
            <choiceReferences>ApprovedButton</choiceReferences>
            <choiceReferences>RejectedButton</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_user_Approved.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordId</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_user_Approved.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordId</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SignFirandFirDocumentStatus</name>
            <extensionName>c:paCloseoutTaskFirDocumenPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FIRDocument</name>
                <value>
                    <elementReference>FIR_Document_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SignedFIRDocument</name>
                <value>
                    <elementReference>Signed_FIR_Document_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SignFirContentDocumentIdDetails</name>
                <value>
                    <elementReference>SignFir_ContaintDocumentLink_Details.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FirContentDocumentIdDetails</name>
                <value>
                    <elementReference>Fir_ContaintDocument_Link_Details.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SignedFirAndFir_DocumentAvailable</name>
        <label>SignedFirAndFir_DocumentAvailable</label>
        <locationX>981</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FirAndSignedFirBothDocumentAvaliable_Current_Approver_Status</name>
            <fieldText>&lt;p&gt;Approver:    {!Current_user_Approved.Approver__r.FirstName} {!Current_user_Approved.Approver__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Stage&lt;/span&gt;:        {!Current_user_Approved.Approval_Stage__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirAndSignedFirDocumentStatus</name>
            <extensionName>c:paCloseoutTaskFirDocumenPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FirContentDocumentIdDetails</name>
                <value>
                    <elementReference>Fir_ContaintDocument_Link_Details.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FIRDocument</name>
                <value>
                    <elementReference>FIR_Document_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SignedFIRDocument</name>
                <value>
                    <elementReference>Signed_FIR_Document_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SignFirContentDocumentIdDetails</name>
                <value>
                    <elementReference>SignFir_ContaintDocumentLink_Details.ContentDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>112</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Current_user_Approved</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalStatuses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PorgramTypeCDAA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CDAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProgramTypeFederal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PA_Federal</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProgramTypeFmag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PA_FMAG</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Statuses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserNameText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
