codepkg/flows/PA_Closeout_Task_Owner_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CheckUserIsSelectedORNot</name>
        <label>CheckUserIsSelectedORNot</label>
        <locationX>766</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>Update_the_Closeout_task_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserNotSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_User_To_Assign_Owner.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closeout_Task_Owner_Change</targetReference>
            </connector>
            <label>UserNotSelected</label>
        </rules>
    </decisions>
    <interviewLabel>Closeout Task Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closeout Task Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_the_Closeout_task_owner</name>
        <label>Update the Closeout task owner</label>
        <locationX>967</locationX>
        <locationY>63</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Select_User_To_Assign_Owner.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Closeout_Task__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Closeout_Task_Owner_Change</name>
        <label>Closeout Task Owner Change</label>
        <locationX>567</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckUserIsSelectedORNot</targetReference>
        </connector>
        <fields>
            <name>Closeout_Task_Owner_Change_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Closeout_Task_Owner_Change_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_User_To_Assign_Owner</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Id IN(SELECT UserOrGroupId FROM GroupMember WHERE Group.DeveloperName IN (&apos;Public_Assistance_Analyst&apos;, &apos;Public_Assistance_DAPS&apos;, &apos;Public_Assistance_Deputy_Director_Analys&apos;, &apos;Public_Assistance_GAR&apos;, &apos;Public_Assistance_GAR_Analyst&apos;, &apos;Public_Assistance_GAR_Deputy_Director&apos;, &apos;Public_Assistance_Office_Technician&apos;, &apos;Public_Assistance_PM1&apos;, &apos;Public_Assistance_PM2_PAO&apos;, &apos;Public_Assistance_PM3&apos;, &apos; Public_Assistance_Recovery_GAR_All&apos;))</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>﻿Select User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Closeout_Task_Owner_Change_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Closeout_Task_Owner_Change</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Task__c</objectType>
    </variables>
</Flow>
