codepkg/flows/PA_flow_to_update_Closeout_Request_status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_for_All_Project_Closeout_Records_Ready_for_Closeout</name>
        <label>Check for All Project Closeout Records Ready for Closeout</label>
        <locationX>397</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready_for_Closeout_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Closeout_Records_for_associated_Closeout_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closeout_Request_Status_to_Update</targetReference>
            </connector>
            <label>Ready for Closeout Check</label>
        </rules>
    </decisions>
    <interviewLabel>PA flow to update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA flow to update Closeout Request status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Closeout_Records_for_associated_Closeout_Request</name>
        <label>Get Project Closeout Records for associated Closeout Request</label>
        <locationX>142</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_All_Project_Closeout_Records_Ready_for_Closeout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closeout_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Closeout_Request__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready for Closeout</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Closeout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Closeout_Request_Status_to_Update</name>
        <label>Closeout Request Status to Update</label>
        <locationX>640</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Closeout_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closeout in Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Closeout_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Closeout_Records_for_associated_Closeout_Request</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready for Closeout</stringValue>
            </value>
        </filters>
        <object>Project_Closeout__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectCloseoutFilteredIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectCloseoutRecLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Closeout__c</objectType>
    </variables>
    <variables>
        <name>ProjectsCloseoutIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
