codepkg/flows/Pa_Project_Subrecepient_Update_Percentages.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Project_Closeout</name>
        <label>Create New Project Closeout</label>
        <locationX>1628</locationX>
        <locationY>609</locationY>
        <actionName>PA_ProjectCloseoutCreationFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_On_Project_Closeout_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Current_Small_Project</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>projectCloRecordIdCollection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Project_Closeout</name>
        <label>Create Project Closeout</label>
        <locationX>753</locationX>
        <locationY>1774</locationY>
        <actionName>PA_ProjectCloseoutCreationFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_on_Project_Closeout_Record_Id</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Federal_Project_Records</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>projectCloRecordIdCollection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>Send_Email_To_User</name>
        <label>Send Email To User</label>
        <locationX>2584</locationX>
        <locationY>1491</locationY>
        <apexClass>FlowSendEmail</apexClass>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Email_Address.Text_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Send_Small_Project_Email_To_User</name>
        <label>Send Small Project Email To User</label>
        <locationX>3695</locationX>
        <locationY>1246</locationY>
        <apexClass>FlowSendEmail</apexClass>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Small_Project_Email_Template_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>Get_Small_Project_Email_address_Records.Text_Value__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Question3</name>
        <label>Add Question3</label>
        <locationX>3035</locationX>
        <locationY>669</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Small_Project_Question3_Is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question4_To_List</name>
        <label>Add Question4 To List</label>
        <locationX>2658</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question_3</name>
        <label>Add Question 3</label>
        <locationX>2290</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_1_Answer_Is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question_4_Record</name>
        <label>Add Question 4 Record</label>
        <locationX>1860</locationX>
        <locationY>1768</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Project_Closeout_Record_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Question_Answers</name>
        <label>Add Question Answers</label>
        <locationX>1600</locationX>
        <locationY>1994</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3Subquestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_3_subquestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_on_Project_Closeout_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question4_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_Question3SubQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Question1_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Small_project_Checklist_And_Response</name>
        <label>Add Small project Checklist And Response</label>
        <locationX>1703</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallProjectQuestion1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallProjectCompletionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Completion_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_On_Project_Closeout_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord1.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_On_Project_Closeout_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Small_Project_Question_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Small_project_Checklist_And_Response_Except_1st_and_2nd</name>
        <label>Add Small project Checklist And Response Except 1st and 2nd</label>
        <locationX>2414</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallProjectQuestion2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallProjectQuestion3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallProjectQuestion4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SmallProjectQuestion5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord2.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Project_Closeout__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord5.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question5_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord3.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small_Project_Question3_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistIndividualRecord4.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_Question4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_First_Question_Is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Small_Project_Checklist_Response_In_List</name>
        <label>Add Small Project Checklist Response In List</label>
        <locationX>2832</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Question2_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Question_Answers_List</name>
        <label>Add To Question Answers List</label>
        <locationX>2298</locationX>
        <locationY>2001</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_2_is_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1st_and_2nd_question</name>
        <label>Assign 1st and 2nd question</label>
        <locationX>1928</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloseoutChecklistArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CloseoutChecklistIndividualRecord1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_On_Project_Closeout_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Hide_Checklist_Response</name>
        <label>Hide Checklist Response</label>
        <locationX>1160</locationX>
        <locationY>1313</locationY>
        <assignmentItems>
            <assignToReference>Show_Checklist_For_All_Projects</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Small_Project_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Show_Component_Variable</name>
        <label>Set Show Component Variable</label>
        <locationX>1034</locationX>
        <locationY>2057</locationY>
        <assignmentItems>
            <assignToReference>ShowNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Large_Project_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Checklist_Response</name>
        <label>Show Checklist Response</label>
        <locationX>840</locationX>
        <locationY>1388</locationY>
        <assignmentItems>
            <assignToReference>Show_Checklist_For_All_Projects</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Small_Project_Footer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Notes_Text</name>
        <label>Show Notes Text</label>
        <locationX>1344</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>ShowNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Footer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NA</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>CompletionDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What was this project&apos;s completion date?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is this project&apos;s scope of work 100% complete?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you filed an insurance claim for this project?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Were insurance proceeds awarded?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question3Subquestion</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you received final claim reconcillation documents from your insurance provider? If  so, please provide Insurance Declaration Page, Insurance Claim Summary, and Final Statement of Loss.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Question4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are there any pending FEMA determinations for this project, such as appeals of version requests?</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReviewScreen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Do you want to save it?</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallProjectCompletionDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What was this project&apos;s completion date?</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallProjectQuestion1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Is this project&apos;s scope of work 100% complete?</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallProjectQuestion2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you filed an insurance claim for this project?</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallProjectQuestion3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Were insurance proceeds awarded?</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallProjectQuestion4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Have you received final claim reconcillation documents from your insurance provider? If  so, please provide Insurance Declaration Page, Insurance Claim Summary, and Final Statement Of Loss.</stringValue>
        </value>
    </constants>
    <constants>
        <name>SmallProjectQuestion5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are there any pending FEMA determinations for this project, or any other small projects?</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_AmmendmentRequest_Date</name>
        <label>Check AmmendmentRequest Date</label>
        <locationX>1429</locationX>
        <locationY>2042</locationY>
        <defaultConnector>
            <targetReference>Large_Project_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Ammentment_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AmmentmentRequestRecords.TimeExtensionEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Show_Component_Variable</targetReference>
            </connector>
            <label>Check Ammentment Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AmmendmentRequest_Size</name>
        <label>Check AmmendmentRequest Size</label>
        <locationX>1196</locationX>
        <locationY>2291</locationY>
        <defaultConnector>
            <targetReference>Set_Show_Component_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Ammendment_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AmmentmentRequestRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_AmmendmentRequest_Date</targetReference>
            </connector>
            <label>Check Ammendment  Size</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_Project_Meet_Criteria</name>
        <label>Check Current Project Meet Criteria</label>
        <locationX>178</locationX>
        <locationY>1249</locationY>
        <defaultConnector>
            <targetReference>No_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Current_Project_Has_Checklist_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Project_Program_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_CDAA_Project</targetReference>
            </connector>
            <label>Check Current Project Has Checklist Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Date</name>
        <label>Check Date</label>
        <locationX>554</locationX>
        <locationY>2230</locationY>
        <defaultConnector>
            <targetReference>Large_Project_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Date_Validation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_AmmendmentRequest_Size</targetReference>
            </connector>
            <label>Check Date Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_CDAA_Project</name>
        <label>Check For CDAA Project</label>
        <locationX>172</locationX>
        <locationY>1483</locationY>
        <defaultConnector>
            <targetReference>Get_AmmentmentRequestRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Funding_Sources_State_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.Program_Name_For_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDAA (State Funding)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PA_CDAA_State_Only</targetReference>
            </connector>
            <label>Is Funding Sources State Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Percentage_100_Percent_Completed</name>
        <label>Check Percentage 100 Percent Completed</label>
        <locationX>869</locationX>
        <locationY>2394</locationY>
        <defaultConnector>
            <targetReference>Large_Project_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Percentage_Is_100_Percent_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Percentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Percentage_Is_Greater_Than_100</targetReference>
            </connector>
            <label>Check Percentage  Is 100 Percent Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_is_100_Percent_Complete</name>
        <label>Check Project is 100 Percent Complete</label>
        <locationX>178</locationX>
        <locationY>1913</locationY>
        <defaultConnector>
            <targetReference>Check_Project_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Project_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.Percent_Complete_To_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_No_Action_Needed</targetReference>
            </connector>
            <label>Check Project Completion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Is_Completed</name>
        <label>Check Project Is Completed</label>
        <locationX>556</locationX>
        <locationY>2392</locationY>
        <defaultConnector>
            <targetReference>Check_Percentage_100_Percent_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completion_Date_should_not_be_greater_than_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Future_Date_can_not_selected</targetReference>
            </connector>
            <label>Completion Date should not be greater than today</label>
        </rules>
        <rules>
            <name>Check_If_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Date</targetReference>
            </connector>
            <label>Check If Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Type</name>
        <label>Check Project Type</label>
        <locationX>181</locationX>
        <locationY>2176</locationY>
        <defaultConnector>
            <targetReference>Check_Project_is_Last_Small_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.IsLargeProject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Percentage_Data</targetReference>
            </connector>
            <label>Check If Large Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Size_Of_AmmendmentRequest</name>
        <label>Check Size Of AmmendmentRequest</label>
        <locationX>848</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Show_Notes_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Ammendment_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AmmentmentRequestRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Small_Project_Ammendment_Request_Date</targetReference>
            </connector>
            <label>Check If Ammendment Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Small_Project_Ammendment_Request_Date</name>
        <label>Check Small Project Ammendment Request Date</label>
        <locationX>857</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Review_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Small_project_AmmendmentRequest_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AmmentmentRequestRecords.TimeExtensionEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Small_Project_Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Notes_Text</targetReference>
            </connector>
            <label>Small project AmmendmentRequest End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Small_Project_Date</name>
        <label>Check Small Project Date</label>
        <locationX>618</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Review_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Small_Project_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Records.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Small_Project_Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Size_Of_AmmendmentRequest</targetReference>
            </connector>
            <label>Check Small Project End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Small_Project_Is_Completed</name>
        <label>Check Small  Project Is Date is Future Dated</label>
        <locationX>827</locationX>
        <locationY>813</locationY>
        <defaultConnector>
            <targetReference>Check_Small_Project_Percentage_Is_100_percent_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Small_Project_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Small_Project_Question_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Small_Project_Date</targetReference>
            </connector>
            <label>If Small Project Completed</label>
        </rules>
        <rules>
            <name>small_project_future_dateSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Small_Project_Completion_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Futured_Date_can_not_selected_for_small_project</targetReference>
            </connector>
            <label>small project future date selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Small_Project_Percentage_Is_100_percent_Completed</name>
        <label>Check Small Project Percentage Is 100 percent Completed</label>
        <locationX>508</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Review_Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Small_Project_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Small_Percentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Small_Percentage_Is_Greater_Than_100</targetReference>
            </connector>
            <label>Check Small Project Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_This_is_last_project</name>
        <label>Check This is last project</label>
        <locationX>2140</locationX>
        <locationY>970</locationY>
        <defaultConnector>
            <targetReference>Create_Checklist_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Last_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Small_Projects_which_are_not_100_completed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Closeout_Record_Id</targetReference>
            </connector>
            <label>Check Last Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_First_Question_Is_Yes</name>
        <label>If First Question Is Yes</label>
        <locationX>2597</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_1st_Question_Is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Small_Project_Checklist_Response_In_List</targetReference>
            </connector>
            <label>If 1st Question Is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Last_Small_project_Present</name>
        <label>If Current Project is Last small Project</label>
        <locationX>945</locationX>
        <locationY>1541</locationY>
        <defaultConnector>
            <targetReference>Hide_Checklist_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Last_Project_is_Small_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Project_is_Last_Small_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Checklist_Response</targetReference>
            </connector>
            <label>If No other small Project Present(Current Project is Last Project)</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Question1_Yes</name>
        <label>If Question1 Yes</label>
        <locationX>2025</locationX>
        <locationY>2009</locationY>
        <defaultConnector>
            <targetReference>Update_Project_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Question_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Question_Answers_List</targetReference>
            </connector>
            <label>If Question Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Small_Project_Question_Yes</name>
        <label>If Small Project Question Yes</label>
        <locationX>1818</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>Update_Project_Percentage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Small_Project_Question1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1st_and_2nd_question</targetReference>
            </connector>
            <label>If Small Project Question1 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Question2_Yes</name>
        <label>Is Question2 Yes</label>
        <locationX>2824</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Small_Project_Question3_Is_Yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Small_Project_Question2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord2.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question3</targetReference>
            </connector>
            <label>Small Project Question2 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Small_Projects_100_Completed</name>
        <label>Is Small Projects 100 Completed</label>
        <locationX>3403</locationX>
        <locationY>1023</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Small_Project_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Small_Project_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Project_Checkbox</targetReference>
            </connector>
            <label>Is Small Project Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_1_Answer_Is_Yes</name>
        <label>Question 3 Answer Is Yes</label>
        <locationX>2079</locationX>
        <locationY>1769</locationY>
        <defaultConnector>
            <targetReference>Create_Question_Answer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question_1_Answers_Is_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord3.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question_4_Record</targetReference>
            </connector>
            <label>Question 3 Answers Is No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_2_is_Yes</name>
        <label>Question 2 is Yes</label>
        <locationX>2287</locationX>
        <locationY>1821</locationY>
        <defaultConnector>
            <targetReference>Question_1_Answer_Is_Yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord2.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question_3</targetReference>
            </connector>
            <label>Question Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Small_Project_Question3_Is_Yes</name>
        <label>Small Project Question3 Is Yes</label>
        <locationX>2822</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question3_Is_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseoutChecklistIndividualRecord3.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Question4_To_List</targetReference>
            </connector>
            <label>Question3 Is No</label>
        </rules>
    </decisions>
    <description>Handling of federal Closeout Checklist Flow</description>
    <formulas>
        <name>CheckCommentOfQuestion4Required</name>
        <dataType>Boolean</dataType>
        <expression>{!Question4_Comment} != null</expression>
    </formulas>
    <formulas>
        <name>CheckSmallProjectQuestion5Comment</name>
        <dataType>Boolean</dataType>
        <expression>{!Small_Project_Question5_Comment} == null</expression>
    </formulas>
    <formulas>
        <name>Get_Updated_Percentage</name>
        <dataType>Number</dataType>
        <expression>(IF(ISNULL({!Percentage_Updated_Value}), 0, {!Percentage_Updated_Value}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncidentId</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Records.Incident_Name__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SubrecipientId</name>
        <dataType>String</dataType>
        <expression>{!Get_Project_Records.Obligating_Sub_Recipient__r.Name}</expression>
    </formulas>
    <interviewLabel>Pa Project Subrecepient Update Percentages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Completion Status</label>
    <loops>
        <name>Iterate_On_Project_Closeout_Id</name>
        <label>Iterate On Project Closeout Id</label>
        <locationX>1841</locationX>
        <locationY>594</locationY>
        <collectionReference>projectCloRecordIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Small_project_Checklist_And_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Small_Projects_which_are_not_100_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_on_Project_Closeout_Record_Id</name>
        <label>Iterate on Project Closeout Record Id</label>
        <locationX>1597</locationX>
        <locationY>1722</locationY>
        <collectionReference>projectCloRecordIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Question_Answers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Question_Answer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_All_Closeout_Request_for_Question_2_3_4</name>
        <label>Iterate Over All Closeout Request for Question 2,3,4</label>
        <locationX>2429</locationX>
        <locationY>655</locationY>
        <collectionReference>Get_Project_Closeout_Record_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Small_project_Checklist_And_Response_Except_1st_and_2nd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Checklist_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Checklist_Records</name>
        <label>Create Checklist Records</label>
        <locationX>2580</locationX>
        <locationY>1317</locationY>
        <connector>
            <targetReference>Update_Small_Project_Perecntage_Record</targetReference>
        </connector>
        <inputReference>CloseoutChecklistArray</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Question_Answer</name>
        <label>Create Question Answer</label>
        <locationX>1943</locationX>
        <locationY>1523</locationY>
        <connector>
            <targetReference>Update_Percentage_With_100</targetReference>
        </connector>
        <inputReference>CloseoutChecklistArray</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_Project_is_Last_Small_Project</name>
        <label>Get small Projects yet to Complete</label>
        <locationX>643</locationX>
        <locationY>1540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Last_Small_project_Present</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND  5 AND (4 OR 6) AND 7</filterLogic>
        <filters>
            <field>Incident_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Obligating_Sub_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLargeProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA - Federal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AmmentmentRequestRecords</name>
        <label>Get AmmentmentRequestRecords</label>
        <locationX>176</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project_is_100_Percent_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AmendmentType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time Extension</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Amendment_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Project_Program_Name</name>
        <label>Get Current Project Program Name</label>
        <locationX>176</locationX>
        <locationY>884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public Assistance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Small_Project</name>
        <label>Get Current Small Project</label>
        <locationX>1422</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Project_Closeout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Address</name>
        <label>Get Email Address</label>
        <locationX>2318</locationX>
        <locationY>1485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA_Project_Completion_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Key_Value_Store__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Records</name>
        <label>Get Email Template Records</label>
        <locationX>2103</locationX>
        <locationY>1472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P.4 Request on Completion of Large Project(s)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Federal_Project_Records</name>
        <label>Get Federal Project Records</label>
        <locationX>958</locationX>
        <locationY>1852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Project_Closeout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Closeout_Record_Id</name>
        <label>Get Project Closeout Record Id</label>
        <locationX>2341</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_All_Closeout_Request_for_Question_2_3_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incident_Id_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subrecipient_Id_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Closeout__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Records</name>
        <label>Get Project Records</label>
        <locationX>177</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Project_Program_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Roles</name>
        <label>Get Project Roles</label>
        <locationX>184</locationX>
        <locationY>1052</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Current_Project_Meet_Criteria</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND ( 4 OR 5)</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subrecipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incident_Subrecipient_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Subrecipient_Summary__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project_Role_Global_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorized Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Project_Role_Global_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responsible Representative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Project_Email_address_Records</name>
        <label>Get Small Project Email address Records</label>
        <locationX>3697</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Small_Project_Email_To_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA_Project_Completion_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Key_Value_Store__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Project_Email_Template_Records</name>
        <label>Get Small Project Email Template Records</label>
        <locationX>3697</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Small_Project_Email_address_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P.4 Request on Completion for Last Small Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Project_Records</name>
        <label>Get Small Project Records</label>
        <locationX>3410</locationX>
        <locationY>1243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Small_Projects_100_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incident_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Obligating_Sub_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLargeProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Program_Name_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA - Federal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Small_Projects_which_are_not_100_completed</name>
        <label>Get Small Projects which are not 100% completed</label>
        <locationX>2146</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_This_is_last_project</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 7) AND 5 AND 6</filterLogic>
        <filters>
            <field>Incident_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Incident_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Obligating_Sub_Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Records.Obligating_Sub_Recipient__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLargeProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Name_For_Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PA - Federal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Percent_Complete_To_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Last_Project_Checkbox</name>
        <label>Update Last Project Checkbox</label>
        <locationX>3404</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Get_Small_Project_Email_Template_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Last_Project__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Percentage_With_100</name>
        <label>Update Percentage With 100</label>
        <locationX>1529</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Email_Template_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Project_Marked_100_Complete__c</field>
            <value>
                <elementReference>SetProjectCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_To_Date__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Completion_Date__c</field>
            <value>
                <elementReference>Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Percentage</name>
        <label>Update Project Percentage</label>
        <locationX>1611</locationX>
        <locationY>1009</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percent_Complete_To_Date__c</field>
            <value>
                <elementReference>Small_Percentage</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>2039</locationX>
        <locationY>2219</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percent_Complete_To_Date__c</field>
            <value>
                <elementReference>Percentage</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Small_Project_Perecntage_Record</name>
        <label>Update Small Project Perecntage Record</label>
        <locationX>3160</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Get_Small_Project_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Project_Marked_100_Complete__c</field>
            <value>
                <elementReference>SetProjectCurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_To_Date__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Completion_Date__c</field>
            <value>
                <elementReference>Small_Project_Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Future_Date_can_not_selected</name>
        <label>Future Date can not selected</label>
        <locationX>576</locationX>
        <locationY>2616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Futured_Date_Cannot_Selected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A project should not be able to be marked 100% complete for future dates&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;, please click on previous button to update the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Futured_Date_can_not_selected_for_small_project</name>
        <label>Futured Date can not selected for small project</label>
        <locationX>376</locationX>
        <locationY>1017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>small_Project_futured_Date_CantSelected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;A project should not be able to be marked 100% complete for future dates, please click on previous button to update the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Large_Project_Footer</name>
        <label>Large Project Footer</label>
        <locationX>751</locationX>
        <locationY>1952</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Federal_Project_Records</targetReference>
        </connector>
        <fields>
            <name>Large_project_Review_Screen</name>
            <fieldText>&lt;p&gt;Do you want to save the changes?&lt;/p&gt;&lt;p&gt;Click Next To Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Time_Extension_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Note: The listed project completion date is past this project&apos;s last approved Period of Performance end date. Have you submitted a time extension request?If not, please include within your Closeout Request a justification for a time extension, which will be considered for approval as part of the project closeout process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowNotes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Federal_Last_Project</name>
            <fieldText>&lt;p&gt;Marking a project 100% complete informs Cal OES that this project is now complete, which initiates the request to close the Project. After OES review, a Closeout Request link will appear in the closeout portal on your home page which will require final claim amounts to be entered and a Project Completion and Certification Report (P.4) to be completed and signed by a designated Authorized Agent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Action</name>
        <label>No Action</label>
        <locationX>477</locationX>
        <locationY>1236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Percentage_Is_Greater_Than_100</name>
        <label>Percentage Is Greater Than 100</label>
        <locationX>878</locationX>
        <locationY>2619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Percentage_Greater_Than_100</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&quot;Current percent complete&quot; cannot be more than 100%, please click on previous button to update the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Populate_Percentage_Data</name>
        <label>Update Project Completion Status</label>
        <locationX>186</locationX>
        <locationY>2389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Project_Is_Completed</targetReference>
        </connector>
        <fields>
            <name>Update_Project_Completion_Status</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Update Project Completion Status&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Updated_Percentage_Displayed</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Percent Complete To Date : &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Updated_Percentage}%&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question1}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>{!Completion_Date_Label}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Percentage</name>
            <dataType>Number</dataType>
            <fieldText>{!Percentage_Large_Project}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question2}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>{!Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question3}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question3Comment</name>
            <fieldText>{!Question3Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_3_subquestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question3Subquestion}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_Question3SubQuestion</name>
            <fieldText>{!Comment_Question3SubQuestion_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_3_subquestion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question_4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Question4}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Question4_Comment</name>
            <fieldText>{!Question4_Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Question_4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Footer</name>
        <label>Review Footer</label>
        <locationX>1272</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Current_Small_Project</targetReference>
        </connector>
        <fields>
            <name>Do_You_Want_To_Save_Changes</name>
            <fieldText>&lt;p&gt;Do you want to save the changes?&lt;/p&gt;&lt;p&gt;Click Next To Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Small_Project_Time_Extension_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Note: The listed project completion date is past this project&apos;s last approved Period of Performance end date. Have you submitted a time extension request?If not, please include within your Closeout Request a justification for a time extension, which will be considered for approval as part of the project closeout process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowNotes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Not_Last_Project</name>
            <fieldText>&lt;p&gt;The project has been updated to 100% complete. Once your last small project is updated to 100% complete, please submit your closeout request. You will then receive a P.4 Certification and Completion form for your Authorized Agent to complete and sign.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Checklist_For_All_Projects</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Small_Percentage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Small_Project_Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Small_Project_Text</name>
            <fieldText>&lt;p&gt;Marking a project 100% complete informs Cal OES that this project is now complete, which initiates the request to close the Project. After OES review, a Closeout Request link will appear in the closeout portal on your home page which will require final claim amounts to be entered and a Project Completion and Certification Report (P.4) to be completed and signed by a designated Authorized Agent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Checklist_For_All_Projects</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Small_Percentage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Small_Project_Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_No_Action_Needed</name>
        <label>Show No Action Needed</label>
        <locationX>459</locationX>
        <locationY>1916</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Action_Required</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Percent Complete To Date : &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Updated_Percentage}%&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Small_Percentage_Is_Greater_Than_100</name>
        <label>Percentage Is Greater Than 100</label>
        <locationX>474</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Small_Percentage_Greater_Than_100</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&quot;Current percent complete&quot; cannot be more than 100%, please click on previous button to update the value.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Small_Project_Footer</name>
        <label>Update Small Project Status</label>
        <locationX>657</locationX>
        <locationY>1281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Small_Project_Is_Completed</targetReference>
        </connector>
        <fields>
            <name>Update_Small_Project_Completion_Status</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Update Project Completion Status&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Updated_Percentage_Small_Project</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Percent Complete To Date : &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Updated_Percentage}%&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Small_Project_Question_1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SmallProjectQuestion1}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Small_Project_Completion_Date</name>
            <dataType>Date</dataType>
            <fieldText>{!SmallProjectCompletionDateLabel}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>{!SmallProjectPercentage}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Project_Question_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SmallProjectQuestion2}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Show_Checklist_For_All_Projects</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Comment</name>
            <fieldText>{!Small_Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Project_Question_3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SmallProjectQuestion3}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Project_Question3_Comment</name>
            <fieldText>{!Small_Project_Question3_Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Project_Question_4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SmallProjectQuestion4}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_Question4</name>
            <fieldText>{!Comment_Question4_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Project_Question5</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!SmallProjectQuestion5}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Show_Checklist_For_All_Projects</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Small_Project_Question5_Comment</name>
            <fieldText>{!Small_Project_Question5_Comment_Label}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Small_Project_Question5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Get_Project_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>PA_CDAA_State_Only</name>
        <label>PA CDAA State Only</label>
        <locationX>497</locationX>
        <locationY>1478</locationY>
        <flowName>PA_CDAA_State_Only_Closeout_Checklists_Flow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comment_Question3SubQuestion_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comment_Question4_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Completion_Date_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;What was this project&apos;s completion date?&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Percentage_Large_Project</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Current percent complete&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Question3Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Question4_Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Small_Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Small_Project_Question3_Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Small_Project_Question5_Comment_Label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Please Explain:&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SmallProjectCompletionDateLabel</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;What was this project&apos;s completion date?&lt;/b&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SmallProjectPercentage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;b&gt;Current percent complete&lt;/b&gt;</text>
    </textTemplates>
    <variables>
        <name>CloseoutChecklistArray</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CloseoutChecklistIndividualRecord5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Closeout_Checklist__c</objectType>
    </variables>
    <variables>
        <name>Percentage_Updated_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Project_Records.Percent_Complete_To_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>projectCloRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectCloseoutRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectCloseoutRecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetProjectCurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Show_Checklist_For_All_Projects</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowNotes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
