codepkg/flows/PHOS_Cancelled_Order_Update_Shipment_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Shipment_Orders_Status</name>
        <label>Update Shipment Orders Status</label>
        <locationX>765</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>UpdateShipmentOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Ready</name>
        <label>Update Status to Ready</label>
        <locationX>757</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Line_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shipment_Orders_Status</targetReference>
        </connector>
    </assignments>
    <description>Once Order status is cancelled update shipment orders to ready state so Mulesoft will inform Health Corps Personnel</description>
    <interviewLabel>PHOS-Cancelled Order Update Shipment Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOS-Cancelled Order Update Shipment Order</label>
    <loops>
        <name>Iterate_Over_Line_Items</name>
        <label>Iterate Over Line Items</label>
        <locationX>444</locationX>
        <locationY>240</locationY>
        <collectionReference>Get_Shipment_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_Ready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Shipment_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shipment_Orders</name>
        <label>Get Shipment Orders</label>
        <locationX>432</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Warehouse_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse_Account</name>
        <label>Get Warehouse Account</label>
        <locationX>173</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipment_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Entity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </filters>
        <filters>
            <field>Entity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CV101</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipment_Order</name>
        <label>Update Shipment Order</label>
        <locationX>621</locationX>
        <locationY>77</locationY>
        <inputReference>UpdateShipmentOrders</inputReference>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Warehouse_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled / Denied</stringValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateShipmentOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment_Order__c</objectType>
    </variables>
</Flow>
