codepkg/flows/PHOS_Update_Status_After_RDMHS_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_allOrderItemsFilledRegionally_To_False</name>
        <label>Assign allOrderItemsFilledRegionally To False</label>
        <locationX>465</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>allOrderItemsFilledRegionally</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_Over_OrderItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_allOrderItemsFilledRegionally_values</name>
        <label>Check allOrderItemsFilledRegionally values</label>
        <locationX>190</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Status_to_Partially_Fulfilled_Referred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_allOrderItemsFilledRegionally_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allOrderItemsFilledRegionally</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_CDPH</targetReference>
            </connector>
            <label>If allOrderItemsFilledRegionally False</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_For_Warehouse_Type</name>
        <label>check For Warehouse Type</label>
        <locationX>303</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>iterate_Over_OrderItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_warehouse_if_not_Filled_regionally</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderItemRecord.Fulfilment_Entity_Warehouse__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Filled Regionally</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_allOrderItemsFilledRegionally_To_False</targetReference>
            </connector>
            <label>If warehouse if not Filled regionally</label>
        </rules>
    </decisions>
    <interviewLabel>PHOS Update Status After RDMHS Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHOS Update Status After RDMHS Approval</label>
    <loops>
        <name>iterate_Over_OrderItems</name>
        <label>iterate Over Order Items</label>
        <locationX>56</locationX>
        <locationY>317</locationY>
        <assignNextValueToReference>orderItemRecord</assignNextValueToReference>
        <collectionReference>OrderItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_For_Warehouse_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_allOrderItemsFilledRegionally_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Item_Record</name>
        <label>Get Order Item Record</label>
        <locationX>52</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_Over_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>OrderItemList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Fulfilment_Entity_Warehouse__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Status_to_Partially_Fulfilled_Referred</name>
        <label>Update Order Status to Partially Fulfilled - Referred</label>
        <locationX>438</locationX>
        <locationY>494</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fulfilled - Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_CDPH</name>
        <label>Update Status to CDPH</label>
        <locationX>540</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>CDPH Resource Request Supervisor Review</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Item_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allOrderItemsFilledRegionally</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
