codepkg/flows/PHOS_Account_Sharing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PHOS_Account_Sharing</name>
        <label>PHOS Account Sharing</label>
        <locationX>827</locationX>
        <locationY>229</locationY>
        <actionName>PHOS_AccountSharing</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Sharing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactIds</name>
            <value>
                <elementReference>Get_Contact_Records.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>CorrectData</name>
        <choiceText>Correct Account Sharing Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correct Account Sharing Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>EntityChangeRequest</name>
        <choiceText>Entity Change Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entity Change Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>hma_App</name>
        <choiceText>HMA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HMA</stringValue>
        </value>
    </choices>
    <choices>
        <name>phos_App</name>
        <choiceText>PHOS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PHOS</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveAppAccess</name>
        <choiceText>Remove App Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove App Access</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Correction</name>
        <label>Account Correction</label>
        <locationX>412</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Taken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct Account Sharing Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Records</targetReference>
            </connector>
            <label>Correct Data</label>
        </rules>
        <rules>
            <name>Entity_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Taken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EntityChangeRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Records_0</targetReference>
            </connector>
            <label>Entity Change Request</label>
        </rules>
        <rules>
            <name>Remove_App_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Taken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove App Access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_an_App</targetReference>
            </connector>
            <label>Remove App Access</label>
        </rules>
    </decisions>
    <interviewLabel>PHOS Account Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Support Utility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_From_Community_Application_To_User</name>
        <label>Delete From Community Application To User</label>
        <locationX>527</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Remove_App_Access_Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Records2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Community_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App_Record.Id</elementReference>
            </value>
        </filters>
        <object>Community_Application_to_User__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Community_Permission_Set_Access</name>
        <label>Remove Community Permission Set Access</label>
        <locationX>793</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>Remove_Permission_Set_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PermissionSet_Record.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_App_Record</name>
        <label>Get App Record</label>
        <locationX>444</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PermissionSet_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Display_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_select_an_App</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Community_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>668</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PHOS_Account_Sharing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records2</name>
        <label>Get Contact Records</label>
        <locationX>50</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Records_0</name>
        <label>Get Contact Records</label>
        <locationX>419</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Entity_Change_Requested_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PermissionSet_Record</name>
        <label>Get PermissionSet Record</label>
        <locationX>623</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Community_Permission_Set_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_App_Record.App_Permission_Set_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>253</locationX>
        <locationY>577</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_App_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Records2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Entity Change Requested Flag on Contact</description>
        <name>Update_Entity_Change_Requested_Flag</name>
        <label>Update Entity Change Requested Flag</label>
        <locationX>650</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Account_Sharing_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity_Change_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Account_Sharing</name>
        <label>Account Sharing</label>
        <locationX>990</locationX>
        <locationY>229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Account Sharing is Complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Sharing_0</name>
        <label>Account Sharing</label>
        <locationX>848</locationX>
        <locationY>422</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Entity Change Requested Flag is updated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Account_Sharing_Screen</name>
        <label>Account Sharing Screen</label>
        <locationX>255</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Correction</targetReference>
        </connector>
        <fields>
            <name>Action_Taken</name>
            <choiceReferences>CorrectData</choiceReferences>
            <choiceReferences>EntityChangeRequest</choiceReferences>
            <choiceReferences>RemoveAppAccess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_App_Access_Msg</name>
        <label>Remove App Access</label>
        <locationX>299</locationX>
        <locationY>774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p&gt;Remove App Access is Complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Permission_Set_Access</name>
        <label>Remove Permission Set Access</label>
        <locationX>794</locationX>
        <locationY>774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_From_Community_Application_To_User</targetReference>
        </connector>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;Permission Set is Removed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_an_App</name>
        <label>Select an App</label>
        <locationX>236</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Records2</targetReference>
        </connector>
        <fields>
            <name>Please_select_an_App</name>
            <choiceReferences>phos_App</choiceReferences>
            <choiceReferences>hma_App</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select an App</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>127</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Sharing_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
