codepkg/flows/REAL_Create_a_Payment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>Create Payment as per Transmittal Type</description>
        <name>Transmittal_Type</name>
        <label>Transmittal Type</label>
        <locationX>229</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Create_Payment_for_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Federal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.TransmittalType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Federal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_For_Federal</targetReference>
            </connector>
            <label>Federal</label>
        </rules>
    </decisions>
    <description>Screenflow to Create Payment</description>
    <formulas>
        <description>Custom Validation Message for Amount Paid.</description>
        <name>CustomValidationMessageforAmountPaid</name>
        <dataType>String</dataType>
        <expression>IF(contains({!$Flow.FaultMessage},&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION&apos;), &apos;&quot;Amount Paid&quot; must be Positve/Negative based on Approved Payment Amount on Payment Request. &apos;, {!$Flow.FaultMessage})</expression>
    </formulas>
    <interviewLabel>REAL_Create a Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_For_Federal</name>
        <label>Create Payment for Federal</label>
        <locationX>575</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>Update_Transmittal_Record_Stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CheckPaymentDate__c</field>
            <value>
                <elementReference>Warrant_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckReferenceNumber__c</field>
            <value>
                <elementReference>Warrant_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FederalAmountPaid__c</field>
            <value>
                <elementReference>ApprovedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentRequest__c</field>
            <value>
                <elementReference>recordId.PaymentRequest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Regular Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transmittal__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_for_State</name>
        <label>Create Payment for State</label>
        <locationX>580</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Update_Transmittal_Record_Stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error_Message_For_State</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CheckPaymentDate__c</field>
            <value>
                <elementReference>Warrant_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckReferenceNumber__c</field>
            <value>
                <elementReference>Warrant_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentRequest__c</field>
            <value>
                <elementReference>recordId.PaymentRequest__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Regular Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateAmountPaid__c</field>
            <value>
                <elementReference>ApprovedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transmittal__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Update Transmittal Record Stage after the Payment is created.</description>
        <name>Update_Transmittal_Record_Stage</name>
        <label>Update Transmittal Record Stage</label>
        <locationX>884</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Payment_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Transmittal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_a_Payment</name>
        <label>Create a Payment</label>
        <locationX>145</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transmittal_Type</targetReference>
        </connector>
        <fields>
            <name>Warrant_Number</name>
            <dataType>String</dataType>
            <fieldText>Warrant Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warrant_Issue_Date</name>
            <dataType>Date</dataType>
            <fieldText>Warrant Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApprovedAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Created</name>
        <label>Payment Created</label>
        <locationX>1125</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordCreatedSuccessfully</name>
            <fieldText>&lt;p&gt;Payment Created Successfully...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Error_Message</name>
        <label>Show Error Message</label>
        <locationX>580</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Error2</name>
            <fieldText>&lt;p&gt;{!CustomValidationMessageforAmountPaid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Show Error Message For State Payment creation.</description>
        <name>Show_Error_Message_For_State</name>
        <label>Show Error Message For State</label>
        <locationX>579</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Error1</name>
            <fieldText>&lt;p&gt;{!CustomValidationMessageforAmountPaid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>20</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Create_a_Payment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record detail of Current Record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Transmittal__c</objectType>
    </variables>
</Flow>
