codepkg/flows/Submit_For_Review_Payment_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>approval_process_submission</name>
        <label>approval process submission</label>
        <locationX>590</locationX>
        <locationY>220</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Submitted_for_Review</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_peer_and_manager</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Handle_error</name>
        <label>Handle error</label>
        <locationX>504</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>ErrorDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Occurred</targetReference>
        </connector>
    </assignments>
    <description>This Flow created because we were facing issue in Email Template, when we send email to Approver, instead of showing Approver name it was showing Submitters Name on Email, so to resolve this problem we created this flow</description>
    <interviewLabel>Submit For Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit For Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update peer Reviewer</description>
        <name>update_Reviwer</name>
        <label>update Reviwer</label>
        <locationX>431</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>approval_process_submission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Peer_Approver__c</field>
            <value>
                <elementReference>PeerId</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Occurred</name>
        <label>Error Occurred</label>
        <locationX>672</locationX>
        <locationY>417</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Show_Error</name>
            <fieldText>&lt;p&gt;{!ErrorDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Peer_Reviewer</name>
        <label>Select Peer Reviewer</label>
        <locationX>192</locationX>
        <locationY>220</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Reviwer</targetReference>
        </connector>
        <fields>
            <name>Peer_Reviewer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Peer_Approver__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Peer Reviewer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Payment_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PeerId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;Select a Peer Approver&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submitted_for_Review</name>
        <label>Submitted for Review</label>
        <locationX>719</locationX>
        <locationY>214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Submitted for Review..&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Peer_Reviewer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ErrorDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Peer reviewer user-id</description>
        <name>PeerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_Request__c</objectType>
    </variables>
</Flow>
