codepkg/flows/Update_Service_Location.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Transmittal_Record</name>
        <label>Assign Transmittal Record</label>
        <locationX>579</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>TransmittalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transmittal_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Service_Location</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Service_Location_Found</name>
        <label>Service Location Found</label>
        <locationX>885</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Service_Location.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Service_Location.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Location</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Update Service Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Service Location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Funding_Opp_Service_Location</name>
        <label>Create New Funding Opp Service Location</label>
        <locationX>755</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Update_payment_Request_with_New_Service_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Funding_Opportunity__c</field>
            <value>
                <elementReference>TransmittalRecord.DisasterGrantFO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>NewServiceLocationId</elementReference>
            </value>
        </inputAssignments>
        <object>FundingOppServiceLocationJunction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Location</name>
        <label>Create Service Location</label>
        <locationX>755</locationX>
        <locationY>310</locationY>
        <assignRecordIdToReference>NewServiceLocationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Funding_Opp_Service_Location</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Service_Location_number</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceLocation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Transmittal_Record</name>
        <label>Get Transmittal Record</label>
        <locationX>482</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Transmittal_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transmittal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_Service_Location</name>
        <label>Search Service Location</label>
        <locationX>690</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Location_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Location_number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceLocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Request</name>
        <label>Update Payment Request</label>
        <locationX>1021</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Update_transmittal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransmittalRecord.PaymentRequest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>Search_Service_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_payment_Request_with_New_Service_Location</name>
        <label>Update payment Request with New Service Location</label>
        <locationX>762</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Update_transmittal</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransmittalRecord.PaymentRequest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Location__c</field>
            <value>
                <elementReference>NewServiceLocationId</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_transmittal</name>
        <label>Update transmittal</label>
        <locationX>1027</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Record_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransmittalRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceLocationCode__c</field>
            <value>
                <elementReference>Service_Location_number</elementReference>
            </value>
        </inputAssignments>
        <object>Transmittal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>311</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Updated</name>
        <label>Record Updated</label>
        <locationX>1165</locationX>
        <locationY>547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Record Updated Successfully...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Location</name>
        <label>Service Location</label>
        <locationX>390</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Transmittal_Record</targetReference>
        </connector>
        <fields>
            <name>Service_Location_number</name>
            <dataType>String</dataType>
            <fieldText>Service Location number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Service_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewServiceLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransmittalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transmittal__c</objectType>
    </variables>
</Flow>
