codepkg/flows/User_Registration_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>EntityChangeRequired</name>
        <choiceText>Entity Change Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entity Change Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>InappropriateRequest</name>
        <choiceText>Request Denied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Denied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Outcome</name>
        <label>Approval Outcome</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Registration_for_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Registration_for_Rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Outcome_0</name>
        <label>Approval Outcome</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Additional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Approval_Additional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Registration_for_Approved_0</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected_Additional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Approval_Additional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Registration_for_Rejected_0</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Outcome_0_0</name>
        <label>Approval Outcome</label>
        <locationX>2690</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Additional_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Approval_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Registration_for_Approved_0_0</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected_Additional_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Approval_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Registration_for_Rejected_0_0</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Registration_Status</name>
        <label>Check User Registration Status</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1</targetReference>
            </connector>
            <label>If Status is Approved</label>
        </rules>
        <rules>
            <name>If_Status_is_Verified_Verification_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1_0</targetReference>
            </connector>
            <label>If Status is Verified/Verification Pending</label>
        </rules>
        <rules>
            <name>If_Status_is_Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_User_Registration</targetReference>
            </connector>
            <label>If Status is App Requested</label>
        </rules>
        <rules>
            <name>If_Status_is_App_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>App Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1_0_0</targetReference>
            </connector>
            <label>If Status is App Rejected</label>
        </rules>
        <rules>
            <name>If_Additional_Agency_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Agency Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_User_Registration_Additional</targetReference>
            </connector>
            <label>If Additional Agency Requested</label>
        </rules>
        <rules>
            <name>If_Access_Level_Change_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Level Change Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_User_Registration_Level</targetReference>
            </connector>
            <label>If Access Level Change Requested</label>
        </rules>
        <rules>
            <name>If_Status_is_Agency_Change_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Agency Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1_0_0_0</targetReference>
            </connector>
            <label>If Status is Agency Change Rejected</label>
        </rules>
        <rules>
            <name>If_Status_is_Agency_Change_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional Agency Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1_0_0_0_0</targetReference>
            </connector>
            <label>If Status is Agency Change Approved</label>
        </rules>
        <rules>
            <name>If_Access_Level_Change_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Level Change Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1_0_0_0_0_0</targetReference>
            </connector>
            <label>If Access Level Change is Approved</label>
        </rules>
        <rules>
            <name>If_Access_Level_Change_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Registration_Records_1st_Screen.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Level Change Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Registration_Approval1_0_0_0_0_0_0</targetReference>
            </connector>
            <label>If Access Level Change is Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Not_Null</name>
        <label>Contact Not Null</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entity_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rejection_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EntityChangeRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Entity Required</label>
        </rules>
        <rules>
            <name>Inappropriate_Request</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Related_ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rejection_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InappropriateRequest</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record</targetReference>
            </connector>
            <label>Inappropriate Request</label>
        </rules>
    </decisions>
    <interviewLabel>User Registration Approva; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Registration Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Reg_Records</name>
        <label>Get User Reg Records</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User_Registration__c</object>
        <outputAssignments>
            <assignToReference>Related_ContactID</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Registration_Records_1st_Screen</name>
        <label>Get User Registration Records 1st Screen</label>
        <locationX>2162</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Registration_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity_Change_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Entity_Change_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Registration_for_Approved</name>
        <label>Update User Registration for Approved</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_User_Reg_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
            <value>
                <elementReference>Approval_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>App Approved</stringValue>
            </value>
        </inputAssignments>
        <object>User_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Registration_for_Approved_0</name>
        <label>Update User Registration for Approved</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
            <value>
                <elementReference>Approval_Comment_Additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Additional Agency Approved</stringValue>
            </value>
        </inputAssignments>
        <object>User_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Registration_for_Approved_0_0</name>
        <label>Update User Registration for Approved</label>
        <locationX>2426</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
            <value>
                <elementReference>Approval_Comment_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Access Level Change Approved</stringValue>
            </value>
        </inputAssignments>
        <object>User_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Registration_for_Rejected</name>
        <label>Update User Registration for Rejected</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_User_Reg_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
            <value>
                <elementReference>Rejection_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>App Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>User_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Registration_for_Rejected_0</name>
        <label>Update User Registration for Rejected</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
            <value>
                <elementReference>Rejection_Comment_Additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason_Additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Additional Agency Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>User_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Registration_for_Rejected_0_0</name>
        <label>Update User Registration for Rejected</label>
        <locationX>2690</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Comments__c</field>
            <value>
                <elementReference>Rejection_Comment_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rejection_Reason__c</field>
            <value>
                <elementReference>Rejection_Reason_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue> Access Level Change Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>User_Registration__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approval_User_Registration</name>
        <label>Approval - User Registration</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_Outcome</targetReference>
        </connector>
        <fields>
            <name>Record_Approval</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Approval</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Comment</name>
            <dataType>String</dataType>
            <fieldText>Approval Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approve</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>InappropriateRequest</choiceReferences>
            <choiceReferences>EntityChangeRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reject</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Comment</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reject</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Approval_User_Registration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_User_Registration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;&lt;b&gt;FOR PHOS:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Approve  &lt;/b&gt;- Provide access to PHOS&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reject      &lt;/b&gt;- Please choose&lt;/p&gt;&lt;p&gt;1.Inappropriate Request&lt;/p&gt;&lt;p&gt;2.Entity Change Required&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;FOR MARS:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Approve - &lt;/b&gt;This will provide access to MARS&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reject - &lt;/b&gt;Please add Rejection Comments&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_User_Registration_Additional</name>
        <label>Approval - User Registration</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_Outcome_0</targetReference>
        </connector>
        <fields>
            <name>Record_Approval_Additional</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Approval</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;Approve: &lt;/b&gt;Will provide access to new agency for the user who requested it&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reject: &lt;/b&gt;Will reject the request from user about new agency access request&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please add appropriate approval/rejection comments as these comments are included in the notification email sent to users&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Comment_Additional</name>
            <dataType>String</dataType>
            <fieldText>Approval Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval_Additional</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approve</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Reason_Additional</name>
            <choiceReferences>InappropriateRequest</choiceReferences>
            <choiceReferences>EntityChangeRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval_Additional</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reject</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Comment_Additional</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval_Additional</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reject</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;b&gt;Approve  &lt;/b&gt;- Provide access to PHOS&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reject      &lt;/b&gt;- Please choose&lt;/p&gt;&lt;p&gt;1.Inappropriate Request&lt;/p&gt;&lt;p&gt;2.Entity Change Required&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approval_User_Registration_Level</name>
        <label>Approval - User Registration</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_Outcome_0_0</targetReference>
        </connector>
        <fields>
            <name>Record_Approval_Level</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Approval</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Comment_Level</name>
            <dataType>String</dataType>
            <fieldText>Approval Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval_Level</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approve</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Reason_Level</name>
            <choiceReferences>InappropriateRequest</choiceReferences>
            <choiceReferences>EntityChangeRequired</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval_Level</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reject</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Comment_Level</name>
            <dataType>String</dataType>
            <fieldText>Rejection Comment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Approval_Level</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Reject</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;b&gt;Approve  &lt;/b&gt;- This will update the access level of the user for an agency as requested&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Reject - &lt;/b&gt;This will keep the current access level of user for the mentioned agency&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please add appropriate approval or rejection comments as they are included in the notification email sent to users &lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1</name>
        <label>User Registration Approval</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Request_Approved</name>
            <fieldText>&lt;p&gt;User Registration Request has been approved; no further action required&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1_0</name>
        <label>User Registration Approval</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Request_Approved_0</name>
            <fieldText>&lt;p&gt;No action required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1_0_0</name>
        <label>User Registration Approval</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Request_Approved_0_0</name>
            <fieldText>&lt;p&gt;User Registration Request for App access has been rejected; no further action required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1_0_0_0</name>
        <label>User Registration Approval</label>
        <locationX>3218</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewAgency_Rejected</name>
            <fieldText>&lt;p&gt;User Registration Request for&lt;b&gt; Additional Agency Access has been &lt;/b&gt;&lt;b style=&quot;color: rgb(228, 10, 10);&quot;&gt;Rejected&lt;/b&gt;; no further action required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1_0_0_0_0</name>
        <label>User Registration Approval</label>
        <locationX>3482</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewAgency_Approved</name>
            <fieldText>&lt;p&gt;User Registration Request &lt;b&gt;for Additional Agency Access &lt;/b&gt;has been &lt;b style=&quot;color: rgb(34, 186, 72);&quot;&gt;Approved&lt;/b&gt;; no further action required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1_0_0_0_0_0</name>
        <label>User Registration Approval</label>
        <locationX>3746</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Access_Level_Approved</name>
            <fieldText>&lt;p&gt;User Registration Request for &lt;b&gt;Access Level Change &lt;/b&gt;has been &lt;b style=&quot;color: rgb(6, 221, 17);&quot;&gt;Approved&lt;/b&gt;; no further action required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Registration_Approval1_0_0_0_0_0_0</name>
        <label>User Registration Approval</label>
        <locationX>4010</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Access_Level_Rejected</name>
            <fieldText>&lt;p&gt;User Registration Request for &lt;b&gt;Access level change &lt;/b&gt;has been &lt;b style=&quot;color: rgb(202, 8, 8);&quot;&gt;Rejected&lt;/b&gt;; no further action required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Registration_Records_1st_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Related_ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
